<div class="content">
    <div class="font-weight-bold">
        <h1>PMR-446 MHz</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>Mit PMR bezeichnet man eine Funkanwendung, die von jedem kostenlos ohne Lizenz genutzt werden darf ("Jedermannfunk").<br>
            PMR steht dabei für "private mobile radio".<br>
            PMR nutzt den UHF-Frequenzbereich 446,000–446,100 MHz.<br>
            Dieser Frequenzbereich ist dem PMR-Funk zunächst nur bis zum 31.12.2013 zugeteilt.<br>
            <br>
            In der folgenden Tabelle sind die Frequenzen der zur Verfügung stehenden 8 Kanäle gelistet.<br>
            <br>
            Man sieht, das Frequenzraster beträgt 12,5 kHz.
        </p>
        <table style="width: 50%">
            <tbody>
                <tr>
                    <td style="width: 20%">
                    Kanal</td>
                    <td>
                    Frequenz in MHz</td>
                </tr>
                <tr>
                    <td>
                    1
                    </td>
                    <td>
                    446,00625</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                    
                    446,01875</td>
                </tr>
                <tr>
                    <td>
                    3
                    </td>
                    <td>
                    
                    446,03125</td>
                </tr>
                <tr>
                    <td>
                    4
                    </td>
                    <td>
                    
                    446,04375</td>
                </tr>
                <tr>
                    <td>
                    5
                    </td>
                    <td>
                    
                    446,05625</td>
                </tr>
                <tr>
                    <td>
                    6
                    </td>
                    <td>
                    
                    446,06875</td>
                </tr>
                <tr>
                    <td>
                    7
                    </td>
                    <td>
                    
                    446,08125</td>
                </tr>
                <tr>
                    <td>
                    8
                    </td>
                    <td>
                    
                    446,09375</td>
                </tr>
            </tbody>
        </table>
        <p>
            Ferner gibt es zwei Verfahren, die es ermöglichen Benutzergruppen zu bilden.<br>
            Dies ist einmal das analoge Pilottonverfahren CTCSS (Continuous Tone Coded Subaudio Squelch oder Continuous Tone Coded Squelch System) und die digitale Rauschsperre Digital-Coded Squelch (DCS).<br>
            CTCSS und DCX bilden jedoch keine Abhörsicherheit, sondern ermöglichen lediglich das Ausblenden von nicht gewollten Sendern.<br>
            Wenn man z.B. den Hauptsender CTCSS0 eingestellt hat kann man alle Stationen hören, die auf den "Unterkanälen" des Hauptsenders senden.<br>
            Hat man einen "Unterkanal" eingestellt, so kann man nur die Stationen empfangen, die ebenfalls auf diesem "Unterkanal" senden.<br>
            <br>
            Erlaubt sind Geräte mit bis zu 500mW Leistung. Außerdem muss die Antenne fest mit dem Gerät verbunden sein.<br>
            Es gibt vorwiegend Handgeräte mit Gummiwendelantenne, sowie vereinzelt Tisch- bzw. Pultgeräte mit fester Antenne.<br>
            Außerdem wird zurzeit ein Handgerät angeboten bei dem die Antenne mit einer Leitung vom Gerät abgesetzt ist und auf dem Autodach montiert werden kann. Jedoch ist auch hier alles fest konvektioniert und bietet wenig "Bastelpotenzial".<br>
            <br>
            Die maximale Reichweite wird von vielen Herstellern mit 5km angegeben. Diese Reichweite lässt sich aber nur schwer erreichen (evtl. Freifläche).<br>
            In Wäldern kann man oft eine Reichweite von 2-3km und und in bebauten Gebieten höchstens bis 1km erreichen.<br>
            Einiges lässt sich auch mit der Höhe "rausholen" (Berg, Dach).
        </p>
    </div>
</div> 