<div class="content">
    <div class="font-weight-bold">
        <h1>CB-Funk Frequenzen</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <table width="100%">
            <thead>
                <tr>
                    <td>CB-Kanal</td>
                    <td>MHZ</td>
                    <td>Modulationart</td>
                    <td>Verwendung</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>26.965</td>
                    <td>AM / FM / SSB</td>
                    <td>FM Anrufkanal</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>26.975</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>26.985</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>27.005</td>
                    <td>AM / FM / SSB</td>
                    <td>AM Anrufkanal</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>27.015</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>27.025</td>
                    <td>AM / FM / SSB</td>
                    <td>Packet Radio</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>27.035</td>
                    <td>AM / FM / SSB</td>
                    <td>Packet Radio</td>
                </tr>
                <tr>
                    <td>08</td>
                    <td>27.055</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>09</td>
                    <td>27.065</td>
                    <td>AM / FM / SSB</td>
                    <td>AM deutscher Truckerkanal; AM und FM / Notrufkanal</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>27.075</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>27.085</td>
                    <td>AM / FM / SSB</td>
                    <td>HF-Gatewaybetrieb</td>
                </tr>
                <tr>
                    <td>
                    12</td>
                    <td>
                    27.105</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    13</td>
                    <td>
                    27.115</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    14</td>
                    <td>
                    27.125</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    15</td>
                    <td>
                    27.135</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    16</td>
                    <td>
                    27.155</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    17</td>
                    <td>
                    27.165</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    18</td>
                    <td>
                    27.175</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    19</td>
                    <td>
                    27.185</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>FM internationaler Truckerkanal</td>
                </tr>
                <tr>
                    <td>
                    20</td>
                    <td>
                    27.205</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    21</td>
                    <td>
                    27.215</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    22</td>
                    <td>
                    27.225</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    23</td>
                    <td>
                    27.255</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    24</td>
                    <td>
                    27.235</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    Packet Radio</td>
                </tr>
                <tr>
                    <td>
                    25</td>
                    <td>
                    27.245</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    Packet Radio</td>
                </tr>
                <tr>
                    <td>
                    26</td>
                    <td>
                    27.265</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    27</td>
                    <td>
                    27.275</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    28</td>
                    <td>
                    27.285</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    29</td>
                    <td>
                    27.295</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>HF-Gatewaybetrieb</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>27.305</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>27.315</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>27.325</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>27.335</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>27.345</td>
                    <td>AM / FM / SSB</td>
                    <td>HF-Gatewaybetrieb</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>27.355</td>
                    <td>AM / FM / SSB</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                    36</td>
                    <td>
                    27.365</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    37</td>
                    <td>
                    27.375</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    38</td>
                    <td>
                    27.385</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    39</td>
                    <td>
                    27.395</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    HF-Gatewaybetrieb</td>
                </tr>
                <tr>
                    <td>
                    40</td>
                    <td>
                    27.405</td>
                    <td>
                    AM / FM / SSB</td>
                    <td>
                    Datenfunkkanal</td>
                </tr>
                <tr>
                    <td>
                    41</td>
                    <td>
                    26.565</td>
                    <td>
                    FM</td>
                    <td>
                    digitale Betriebsarten</td>
                </tr>
                <tr>
                    <td>
                    42</td>
                    <td>
                    26.575</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    43</td>
                    <td>
                    26.585</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    44</td>
                    <td>
                    26.595</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    45</td>
                    <td>
                    26.605</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    46</td>
                    <td>
                    26.615</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    47</td>
                    <td>
                    26.625</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    48</td>
                    <td>
                    26.635</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    49</td>
                    <td>
                    26.645</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    50</td>
                    <td>
                    26.655</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    51</td>
                    <td>
                    26.665</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    52</td>
                    <td>
                    26.675</td>
                    <td>
                    FM</td>
                    <td>
                    Packet Radio</td>
                </tr>
                <tr>
                    <td>
                    53</td>
                    <td>
                    26.685</td>
                    <td>
                    FM</td>
                    <td>
                    Packet Radio</td>
                </tr>
                <tr>
                    <td>
                    54</td>
                    <td>
                    26.695</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    55</td>
                    <td>
                    26.705</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    56</td>
                    <td>
                    26.715</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    57</td>
                    <td>
                    26.725</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    58</td>
                    <td>
                    26.735</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    59</td>
                    <td>
                    26.745</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    60</td>
                    <td>
                    26.755</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    61</td>
                    <td>
                    26.765</td>
                    <td>
                    FM</td>
                    <td>HF-Gatewaybetrieb</td>
                </tr>
                <tr>
                    <td>
                    62</td>
                    <td>
                    26.775</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    63</td>
                    <td>
                    26.785</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    64</td>
                    <td>
                    26.795</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    65</td>
                    <td>
                    26.805</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    66</td>
                    <td>
                    26.815</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    67</td>
                    <td>
                    26.825</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    68</td>
                    <td>
                    26.835</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    69</td>
                    <td>
                    26.845</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    70</td>
                    <td>
                    26.855</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    71</td>
                    <td>
                    26.865</td>
                    <td>
                    FM</td>
                    <td>HF-Gatewaybetrieb</td>
                </tr>
                <tr>
                    <td>
                    72</td>
                    <td>
                    26.875</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    73</td>
                    <td>
                    26.885</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    74</td>
                    <td>
                    26.895</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    75</td>
                    <td>
                    26.905</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    76</td>
                    <td>
                    26.915</td>
                    <td>
                    FM</td>
                    <td>
                    Packet Radio</td>
                </tr>
                <tr>
                    <td>
                    77</td>
                    <td>
                    26.925</td>
                    <td>
                    FM</td>
                    <td>
                    Packet Radio</td>
                </tr>
                <tr>
                    <td>
                    78</td>
                    <td>
                    26.935</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    79</td>
                    <td>
                    26.945</td>
                    <td>
                    FM</td>
                    <td>
                    &nbsp;</td>
                </tr>
                <tr>
                    <td>
                    80</td>
                    <td>
                    26.955</td>
                    <td>
                    FM</td>
                    <td>HF-Gatewaybetrieb</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 