<div class="content">
    <div class="font-weight-bold">
        <h1>Buchstabier-Alphabet</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            Bei Funkverbindungen über große Entfernung,<br>
            kann es durch Störungen und atmosphärischen<br>
            Bedingungen zu starken Verständigungsproblemen<br>
            kommen. Aus diesem Grund wurde im gesamten<br>
            Funkverkehr ein internationaler Code<br>
            eingeführt, der ausschließen soll, dass einzelne<br>
            Buchstaben falsch aufgenommen werden.<br>
            <br>
            <br>
            Hier haben wir einmal den gesamten<br>
            "SPELLCODE" zusammengefasst<br>
            und auch die internationale Aussprache<br>
            dazu festgehalten.
        </p>

        <table>
            <thead>
                <tr>
                    <th>Buchstabe</th>
                    <th>Deutsch</th>
                    <th>International</th>
                </tr>
            </thead>
			<tbody><tr>
				<td >
				A</td>
				<td >
				Anton</td>
				<td>
				Alpha</td>
			</tr>
			<tr>
				<td >
				B</td>
				<td >
				Berta</td>
				<td>
				Bravo</td>
			</tr>
			<tr>
				<td >
				C</td>
				<td >
				Cäsar</td>
				<td>
				Charlie</td>
			</tr>
			<tr>
				<td >
				D</td>
				<td >
				Dora</td>
				<td>
				Delta</td>
			</tr>
			<tr>
				<td >
				E</td>
				<td >
				Emil</td>
				<td>
				Echo</td>
			</tr>
			<tr>
				<td >
				F</td>
				<td >
				Friedrich</td>
				<td>
				Foxtrott</td>
			</tr>
			<tr>
				<td >
				G</td>
				<td >
				Gustav</td>
				<td>
				Golf</td>
			</tr>
			<tr>
				<td >
				H</td>
				<td >
				Heinrich</td>
				<td>
				Hotel</td>
			</tr>
			<tr>
				<td >
				I</td>
				<td >
				Ida</td>
				<td>
				India</td>
			</tr>
			<tr>
				<td >
				J</td>
				<td >
				Julius</td>
				<td>
				Juliett</td>
			</tr>
			<tr>
				<td >
				K</td>
				<td >
				Karl</td>
				<td>
				Kilo</td>
			</tr>
			<tr>
				<td >
				L</td>
				<td >
				Ludwig</td>
				<td>
				Lima</td>
			</tr>
			<tr>
				<td >
				M</td>
				<td >
				Martha</td>
				<td>
				Mike</td>
			</tr>
			<tr>
				<td >
				N</td>
				<td >
				Nordpol</td>
				<td>
				November</td>
			</tr>
			<tr>
				<td >
				O</td>
				<td >
				Otto</td>
				<td>
				Oscar</td>
			</tr>
			<tr>
				<td >
				P</td>
				<td >
				Paul</td>
				<td>
				Papa</td>
			</tr>
			<tr>
				<td >
				Q</td>
				<td >
				Quelle</td>
				<td>
				Quebec</td>
			</tr>
			<tr>
				<td >
				R</td>
				<td >
				Richard</td>
				<td>
				Romeo</td>
			</tr>
			<tr>
				<td >
				S</td>
				<td >
				Siegfried</td>
				<td>
				Sierra</td>
			</tr>
			<tr>
				<td >
				T</td>
				<td >
				Theodor</td>
				<td>
				Tango</td>
			</tr>
			<tr>
				<td >
				U</td>
				<td >
				Ulrich</td>
				<td>
				Uniform</td>
			</tr>
			<tr>
				<td >
				V</td>
				<td >
				Viktor</td>
				<td>
				Victor</td>
			</tr>
			<tr>
				<td >
				W</td>
				<td >
				Wilhelm</td>
				<td>
				Whisky</td>
			</tr>
			<tr>
				<td >
				X</td>
				<td >
				Xanthippe</td>
				<td>
				X-Ray</td>
			</tr>
			<tr>
				<td >
				Y</td>
				<td >
				Ypsilon</td>
				<td>
				Yankee</td>
			</tr>
			<tr>
				<td >
				Z</td>
				<td >
				Zacharias</td>
				<td>
				Zulu</td>
			</tr>
		</tbody></table>
    </div>
</div> 