<div class="content">
    <div class="font-weight-bold">
        <h1>Die CB-Funk Sprache</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            Wer zum ersten Mal in Funkgespräche auf dem 11m-Band hineingehört hat wird den Eindruck gewinnen, er lausche einem Informationsaustausch in einer nur eingeweihten zugänglichen Sprache. dieser Eindruck ist zutreffend, denn CBN-Funker benutzen eine Reihe von Wörtern, Abkürzungen und Codes, die den Außenstehenden unverständlich sind.<br>
            <br>
            Der Neuling fragt sich daher zu Recht, ob eine solche Geheimsprache wirklich erforderlich ist oder ob sie von den CB-Funkern nur zu dem Zweck erfunden wurde, damit sie von Fremden nicht verstanden wird. Tatsächlich treffen beide Gesichtspunkte zu. Als der CB-Funk vor Jahren in den Vereinigten Staaten begann, das breite Publikum zu erobern standen vor allem die Lastkraftwagenfahrer vor einer Situation, die es erforderlich machte, eine Sprache zu verwenden, die nicht von jeder Funkstreife zu entschlüsseln war. Sie benutzen ihre Funkgeräte in erster Linie dazu, um sich bei Überschreitung der Geschwindigkeitsbegrenzung vor Polizeikontrollen zu schützen. Mittlerweile hat sich aus diesen Anfängen eine eigene "CB-Sprache" herausgebildet, die von CB-Funkern mehr oder weniger beherrscht und benutzt wird.  
        </p>
        <h2 class="border-bottom-2 margin-top-3">A</h2>
        <table>
            <tbody>
                <tr>
                    <td style="width: 25%">
                        <p>Absteige</p>
                    </td>
                    <td style="width: 75%">
                        <p>Wohnung</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Adios</p></td>
                    <td>
                        <p>Auf 
                        wiederhören, Schlussgruß nach einem Funkgespräch</p>
                    </td>
                </tr>
                    <tr>
                        <td>
                        <p>AG</p></td>
                        <td>
                        <p>Allgemeine 
                        Genehmigung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Akku</p></td>
                        <td>
                        <p>
                        Wiederaufladbare Batterie</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Alpendollar</p></td>
                        <td>
                        <p>Schilling</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Alpenrepublik</p></td>
                        <td>
                        <p>Österreich</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Alpha</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>AM</p></td>
                        <td>
                        <p>
                        Amplitudenmodulation</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Anbreaken</p></td>
                        <td>
                        <p>Anrufen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>ANL</p></td>
                        <td>
                        <p>Abkürzung 
                        für Autoomatic Noise Limiter (automatischer Störbegrenzer)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Asphalt-Cowboy</p></td>
                        <td>
                        <p>
                        Lastkraftwagenfahrer</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Aufdrehen</p></td>
                        <td>
                        <p>
                        Funkverstärker einschalten (im CB-Bereich in Deutschland 
                        verboten)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Autobahnhyäne</p></td>
                        <td>
                        <p>
                        Abschleppdienst mit überhöhten Gebühren</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Auweiha</p></td>
                        <td>
                        <p>Freundin</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">B</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Ballern</p></td>
                        <td style="width: 75%">
                        <p>Funken</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Base</p></td>
                        <td>
                        <p>Festation</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Bauern-Cadillac</p></td>
                        <td>
                        <p>Traktor</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>BCI</p></td>
                        <td>
                        <p>
                        Rundfunkstörung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Beam</p></td>
                        <td>
                        <p>
                        Richtfunkantenne</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Beamen</p></td>
                        <td>
                        <p>Funken</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Bessere 
                        Hälfte</p></td>
                        <td>
                        <p>Ehefrau, 
                        Ehemann</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Biene</p></td>
                        <td>
                        <p>Mädchen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Blackout</p></td>
                        <td>
                        <p>
                        Funkunterbrechung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Blaulicht</p></td>
                        <td>
                        <p>Polizei- 
                        oder Rettungsfahrzeug</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Bleifuß</p></td>
                        <td>
                        <p>Vollgas</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Böllen</p></td>
                        <td>
                        <p>Funken</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Box</p></td>
                        <td>
                        <p>Postfach</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Braunsche 
                        Röhre</p></td>
                        <td>
                        <p>Bierflasche</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Break</p></td>
                        <td>
                        <p>
                        Unterbrechen, ein anderer Funker will ins Gespräch</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Breake</p></td>
                        <td>
                        <p>&nbsp;Funkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Breaker</p></td>
                        <td>
                        <p>Unterbrecher</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Brettern</p></td>
                        <td>
                        <p>Funken</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Briefmarke</p></td>
                        <td>
                        <p>Freundin</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Brummi</p></td>
                        <td>
                        <p>
                        Lastkraftwagenfahrer</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Bügelbrett</p></td>
                        <td>
                        <p>Frau mit 
                        flachem Busen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Bügeln</p></td>
                        <td>
                        <p>Signal 
                        senden ohne zu sprechen, um den Funkverkehr zu stören, trägern</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Bulle 
                        </p></td>
                        <td>
                        <p>Polizist</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Büroklammer</p></td>
                        <td>
                        <p>Sekretärin</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Buttern
                        </p></td>
                        <td>
                        <p>Funken</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">C</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Call</p></td>
                        <td style="width: 75%">
                        <p>Rufzeichen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CB-Baby</p></td>
                        <td>
                        <p>
                        CB-Funk-Anfänger</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CBer 
                        </p></td>
                        <td>
                        <p>CB-Funker</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CB-Land</p></td>
                        <td>
                        <p>Gegend mit 
                        vielen CB-Funkern</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Channel 
                        Selector</p></td>
                        <td>
                        <p>Kanalwähler</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Cherio</p></td>
                        <td>
                        <p>
                        Abschiedsgruß</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Ciao</p></td>
                        <td>
                        <p>Auf 
                        Wiedersehen (italienisch)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Clarifier</p></td>
                        <td>
                        <p>
                        Feinabstimmungsknopf</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Collabs</p></td>
                        <td>
                        <p>Petzer</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Contest</p></td>
                        <td>
                        <p>Wettbewerb</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CQ</p></td>
                        <td>
                        <p>Allgemeiner 
                        Anruf</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CQ-DX</p></td>
                        <td>
                        <p>Allgemeiner 
                        Fernfunkverbindungs-Anruf</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CQ-Test</p></td>
                        <td>
                        <p>Allgemeiner 
                        Anruf für Testzwecke</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>CW</p></td>
                        <td>
                        <p>
                        Unmodulierter Träger, “Drücker“</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">D</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Dampf</p></td>
                        <td style="width: 75%">
                        <p>Gas oder 
                        HF-Leistung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>dB</p></td>
                        <td>
                        <p>Abkürzung 
                        für Dezibel</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Drahtesel</p></td>
                        <td>
                        <p>Fahrrad</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Durchgang</p></td>
                        <td>
                        <p>Modulierten 
                        Träger setzen zum Test (1,2,3…)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>DX</p></td>
                        <td>
                        <p>Fern- 
                        Funkverbindung</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">E</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>
                        Elferanarchist</p></td>
                        <td style="width: 75%">
                        <p>
                        Undisziplinierter CB-Funker</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Erster 
                        Offizier</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>ERP</p></td>
                        <td>
                        <p>Äquivalente</p></td>
                    </tr>
                    <tr>
                        <td>
                            <p>ERS</p>
                        </td>
                        <td>
                            <p>Abkürzung für Emergency Radio Service (Notruf)</p>
                        </td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
                <h2 class="border-bottom-2 margin-top-3">F</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Fading</p></td>
                        <td style="width: 75%">
                        <p>Schwankung 
                        des empfangenen Signals</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Fahrende Kuh</p></td>
                        <td>
                        <p>Schnupftabak</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Feldwebel</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Fellow</p></td>
                        <td>
                        <p>Kumpel</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Feststation</p></td>
                        <td>
                        <p>Ortsfestes 
                        CB-Funkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Feuerstuhl</p></td>
                        <td>
                        <p>Motorrad</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Finale</p></td>
                        <td>
                        <p>
                        &nbsp;Endfunksprechrunde</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Flockensack</p></td>
                        <td>
                        <p>Bett</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>FM</p></td>
                        <td>
                        <p>
                        Frequenzmodulation</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Fotograf</p></td>
                        <td>
                        <p>Polizeiradar</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Funken-Prise</p></td>
                        <td>
                        <p>
                        Milchlastwagen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Funkenstrecke</p></td>
                        <td>
                        <p>Entfernung 
                        zwischen Sender und Empfänger</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Funkstreife</p></td>
                        <td>
                        <p>Polizeiwagen</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

        <h2 class="border-bottom-2 margin-top-3">G</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Geschütz</p></td>
                        <td style="width: 75%">
                        <p>Funkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Gehsteigprinzessin</p></td>
                        <td>
                        <p>
                        Prostituierte</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Gilb</p></td>
                        <td>
                        <p>Messwagen 
                        der Bundespost um unerlaubte Funksendeverstärker zu orten</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Glatteis</p></td>
                        <td>
                        <p>
                        Radarkontrolle</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Glotze</p></td>
                        <td>
                        <p>Fernsehgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Go back</p></td>
                        <td>
                        <p>Wiederholen 
                        (englisch)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Greenhorn</p></td>
                        <td>
                        <p>CB-Anfänger</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Grenzer</p></td>
                        <td>
                        <p>
                        Grenzpolizist</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Ground</p></td>
                        <td>
                        <p>Erdung, 
                        Grund, Erdpotential</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Gurke</p></td>
                        <td>
                        <p>
                        Handfunkgerät</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

                
                <h2 class="border-bottom-2 margin-top-3">H</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Ham</p></td>
                        <td style="width: 75%">
                        <p>Lizensierter 
                        Funkamateur</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Hammer</p></td>
                        <td>
                        <p>Gaspedal</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Handgurke</p></td>
                        <td>
                        <p>
                        Handfunkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Handquetsche</p></td>
                        <td>
                        <p>
                        CB-Handfunkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Hänger</p></td>
                        <td>
                        <p>
                        Lastwagenanhänger</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Hausdrachen</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>HF</p></td>
                        <td>
                        <p>Hochfrequenz</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>H-I</p></td>
                        <td>
                        <p>Scherz, ich 
                        lache</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Hauskanal</p></td>
                        <td>
                        <p>Kanal, der 
                        von einem Funker bevorzugt verwandt wird bzw. der Anrufkanal um 
                        diesen Funker zu erreichen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Hintergrund</p></td>
                        <td>
                        <p>Dem 
                        Funkgespräch nur zuhören</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Horizontale</p></td>
                        <td>
                        <p>Schlafen</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">I</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Idioten-Box</p></td>
                        <td style="width: 75%">
                        <p>Fernsehgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Info</p></td>
                        <td>
                        <p>Information</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Input</p></td>
                        <td>
                        <p>Eingang</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">K</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Kamera</p></td>
                        <td style="width: 75%">
                        <p>Radaranlage</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Kanalhocker</p></td>
                        <td>
                        <p>CB-Funker, 
                        der zu lange Durchgänge macht und damit den Kanal blockiert</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Kartell</p></td>
                        <td>
                        <p>Gruppe von 
                        CB-Funkern, die ständig einen Kanal blockiert</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Keramik</p></td>
                        <td>
                        <p>Toilette</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Kino</p></td>
                        <td>
                        <p>Polizeiradar</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Kiste</p></td>
                        <td>
                        <p>Funkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Knochenkiste</p></td>
                        <td>
                        <p>Bett</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Kojak</p></td>
                        <td>
                        <p>&nbsp;Polizist</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Koje</p></td>
                        <td>
                        <p>Bett</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Komm</p></td>
                        <td>
                        <p>Senden</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Komme wieder</p></td>
                        <td>
                        <p>Ich melde 
                        mich wieder</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>KW</p></td>
                        <td>
                        <p>Kurzwelle</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">L</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Log</p></td>
                        <td style="width: 75%">
                        <p>Logbuch</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Logo</p></td>
                        <td>
                        <p>Logisch</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Lollipop</p></td>
                        <td>
                        <p>Mikrofon</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Lötwasser</p></td>
                        <td>
                        <p>Alkohol</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>LSB</p></td>
                        <td>
                        <p>Lower Side 
                        Band (unteres Seitenband, genutzt vom Amateurfunk)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Luftbär</p></td>
                        <td>
                        <p>
                        Polizeihubschrauber</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Luftspion</p></td>
                        <td>
                        <p>
                        Polizeihubschrauber</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">M</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Marmelade</p></td>
                        <td style="width: 75%">
                        <p>Störungen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Maschinengewehr</p></td>
                        <td>
                        <p>CB-Funker, 
                        der ständig funkt</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Mayday</p></td>
                        <td>
                        <p>Notruf (nur 
                        in Luft- und Schifffahrt erlaubt)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Merci</p></td>
                        <td>
                        <p>Danke</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Messdiener</p></td>
                        <td>
                        <p>Messwagen 
                        der Post zur Ortung unerlaubter Funkverstärker</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Met</p></td>
                        <td>
                        <p>Bier, 
                        Alkohol</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>MHz</p></td>
                        <td>
                        <p>Megahertz</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Mike</p></td>
                        <td>
                        <p>Mikrofon</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Mobil</p></td>
                        <td>
                        <p>
                        Mobilstation, Auto mit CB-Funkanlage</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Mod</p></td>
                        <td>
                        <p>Modulation</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Monopo</p></td>
                        <td>
                        <p>
                        Monopol-Antenne (Stabantenne)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Moos</p></td>
                        <td>
                        <p>Geld</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Müll</p></td>
                        <td>
                        <p>
                        Funkstörungen</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">N</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Nachbrenner</p></td>
                        <td style="width: 75%">
                        <p>
                        Funk-Sendeverstärker</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Negativ</p></td>
                        <td>
                        <p>Nicht 
                        verstanden</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>NF</p></td>
                        <td>
                        <p>
                        Niederfrequenz</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">O</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Oberweite</p></td>
                        <td style="width: 75%">
                        <p>Frau, 
                        Freundin</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Oberwelle</p></td>
                        <td>
                        <p>Ehefrau, 
                        Freundin</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Ochsen-Jockey</p></td>
                        <td>
                        <p>Fanatischer 
                        CB-Funker</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Ohren</p></td>
                        <td>
                        <p>Antenne</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Old Lady</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>OM (Old Man)</p></td>
                        <td>
                        <p>Ehemann oder 
                        Amateurfunker nach bestandener Funkprüfung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Oma</p></td>
                        <td>
                        <p>
                        Sende-Verstärker</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Output</p></td>
                        <td>
                        <p>Ausgang, 
                        Ausgangsleistung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>OW</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">P</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>PA</p></td>
                        <td style="width: 75%">
                        <p>Sender- bzw. 
                        Verstärkerendstufe</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Paula</p></td>
                        <td>
                        <p>
                        Relaisstation zwischen 2 anderen Funkstationen, die sich nicht 
                        hören können</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>PEP</p></td>
                        <td>
                        <p>
                        Spitzenleistung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Peterwagen</p></td>
                        <td>
                        <p>Polizeiwagen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Pfeffern</p></td>
                        <td>
                        <p>Funken</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Pferdchen</p></td>
                        <td>
                        <p>
                        Prostituierte</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Platte</p></td>
                        <td>
                        <p>Reifenpanne</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Polente</p></td>
                        <td>
                        <p>Polizei</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Polyp</p></td>
                        <td>
                        <p>Polizist</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Positiv</p></td>
                        <td>
                        <p>Vestanden</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>PTT</p></td>
                        <td>
                        <p>Pusch To 
                        Talk, Sendetaste am Mikrofon</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Punks</p></td>
                        <td>
                        <p>Mistkerle</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">Q</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Quasselbiene</p></td>
                        <td style="width: 75%">
                        <p>CB-Funkerin, 
                        die sehr viel spricht</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">R</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Radio</p></td>
                        <td style="width: 75%">
                        <p>CB-Funkgerät 
                        oder auch R-Wert (Verständlich)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Rapport</p></td>
                        <td>
                        <p>Bericht</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Reine Luft</p></td>
                        <td>
                        <p>Keine 
                        Polizeikontrolle</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Richtantenne</p></td>
                        <td>
                        <p>Antenne, die 
                        gebündelt in eine Richtung senden und empfangen kann</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Roger</p></td>
                        <td>
                        <p>Verstanden</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Rohr</p></td>
                        <td>
                        <p>Funkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Runde</p></td>
                        <td>
                        <p>Funkgespräch</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>RX</p></td>
                        <td>
                        <p>Empfänger</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
        <h2 class="border-bottom-2 margin-top-3">S</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Saft</p></td>
                        <td style="width: 75%">
                        <p>Benzin oder 
                        auch HF-Leistung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Santiago</p></td>
                        <td>
                        <p>S-Wert 
                        (Signalstärke des empfangenen Signals)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Schupo</p></td>
                        <td>
                        <p>Polizist</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Skip</p></td>
                        <td>
                        <p>
                        CB-Funk-Rufname</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Skipliste</p></td>
                        <td>
                        <p>Liste aller 
                        bekannten CB-Funkstationen aus der Umgebung</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Spargel</p></td>
                        <td>
                        <p>Stabantenne</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>SSB</p></td>
                        <td>
                        <p>Single Side 
                        Band (Einseitenband, vom Amateurfunk genutzt)</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Standby</p></td>
                        <td>
                        <p>Auf Empfang</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

        <h2 class="border-bottom-2 margin-top-3">T</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Talken</p></td>
                        <td style="width: 75%">
                        <p>Sprechen, 
                        funken</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>Träger</p></td>
                        <td>
                        <p>Funkstörer, 
                        der sendet ohne zu sprechen; aber auch Industrieträger von z.B. 
                        Maschinen, Babyphone usw.</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>TVI</p></td>
                        <td>
                        <p>
                        Fernsehstörungen</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>TX</p></td>
                        <td>
                        <p>Sender</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

        <h2 class="border-bottom-2 margin-top-3">U</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>
                        Überreichweite</p></td>
                        <td style="width: 75%">
                        <p>Ungewöhnlich 
                        große Reichweite</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>UFB</p></td>
                        <td>
                        <p>
                        Ausgezeichnet</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

        <h2 class="border-bottom-2 margin-top-3">W</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>
                        Walkie-Talkie</p></td>
                        <td style="width: 75%">
                        <p>
                        Handsprechfunkgerät</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Weihnachtsfunker</p></td>
                        <td>
                        <p>Ahnungsloser 
                        Funker, Anfänger</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

        <h2 class="border-bottom-2 margin-top-3">X</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>XTAL</p></td>
                        <td style="width: 75%">
                        <p>
                        Quarzkristall</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>XYL</p></td>
                        <td>
                        <p>Ehefrau</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>

        <h2 class="border-bottom-2 margin-top-3">Z</h2>
                <table>
                    <tbody><tr>
                        <td style="width: 25%">
                        <p>Zentrale</p></td>
                        <td style="width: 75%">
                        <p>
                        Fest-Zentralstation</p></td>
                    </tr>
                    <tr>
                        <td>
                        <p>
                        Zwei-Meter-Lage</p></td>
                        <td>
                        <p>Bett</p></td>
                    </tr>
                </tbody></table>
                </td>
            </tr>
        </tbody></table>
    </div>
</div> 