<div class="content">
    <div class="font-weight-bold">
        <h1>CB-Funk-Betriebsarten</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            In Deutschland sind zugelassen:<br>
            80 Kanäle Frequenz-Modulation (FM) 4 Watt Sendeleistung<br>
            40 Kanäle Amplituden-Modulation (AM) 1 Watt Sendeleistung<br>
            40 Kanäle Einseitenband-Modulation (Single-Side-Band = SSB) 4 Watt Sendeleistung (ETS-300433)<br>
            <br>
            <br>
            Frequenz-Modulation (FM)<br>
            Bei FM bleibt die Stärke des Signales immer gleich, weil die Sprache (Information) in die Frequenz des Signales gepackt wird.<br>
            Man spricht von einem Frequenz-Hub.<br>
            Dies ist der Bereich (z.B. 3 kHz) in welchem das Sendesignal schwankt.<br>
            Zum Beispiel: ein FM-Sender sendet auf 27.125 kHz. Somit schwankt das tatsächliche Signal von 27.122 bis 27.128 kHz, ist also insgesamt 6 kHz breit.<br>
            FM eignet sich besonders gut für lokale Verbindungen, da die Sprachqualität wesentlich besser ist, als bei FM.<br>
            <br>
            Amplituden-Modulation (AM)<br>
            Bei AM wird die Sprache des Funkers auf die Funkwelle des Senders draufgepackt (aufmoduliert).<br>
            Somit schwankt die Amplitude (Stärke der Welle) ständig im Rhythmus der Sprache und erzeugt so beim Sender ein schwankendes Signal, welches abhängig von der Lautstärke der Sprache des Senders ist.<br>
            Ein AM-Signal ist sehr störanfällig, jedoch wegen geringer Bandbreite sehr gut für Weitverkehrs-Funk (DX) geeignet.<br>
            <br>
            Einseitenband-Modulation (SSB)<br>
            SSB ist eine Weiterentwicklung von AM.<br>
            Bei AM wird unabhängig von der Modulation ständig ein konstanter Träger gesendet, also Leistung vergeudet.<br>
            Bei vorhandener Modulation erscheinen zwei Seitenbänder, welche die gleiche Information tragen.<br>
            Bei SSB wird der unmodulierter Träger und ein Seitenband unterdrückt, so hat man einen optimalen Wirkungsgrad.<br>
            Um das SSB-Signal im Empfänger wieder hörbar zu machen muss die Trägerfrequenz wieder hinzugefügt und die Empfangsfrequenz mit dem Clarifier-Regler sehr präzise eingestellt werden.<br>
            <br>
            Sprechfunk<br>
            Von Anfang an war CB-Funk als reiner Sprechfunk konzipiert.<br>
            Dementsprechend gab es natürlich auch nur Sprechfunk-Geräte in AM und später auch FM.<br>
            Auch wenn CB-Funk als mobiler Nahbereichsfunk deklariert wurde, konnte man doch unter guten Bedingungenn durchaus sehr weite Funkverbindungen herstellen.<br>
            Abhängig von der Sonnenaktivität und den daraus resultierenden Ausbreitungsbedingungen sind europaweite und auch transatlantische Verbindungen keine Seltenheit und heben die Attraktivität von CB enorm.<br>
            <br>
            Digitaler CB-Funk<br>
            Durch die entsprechenden Verfügungen der RegTP wurden digitale Betriebsarten für den CB-Funk zur Benutzung auf den CB-Kanälen 6, 7, 24, 25, 52, 53, 76, 77 freigegeben.<br>
            Es dürfen jedoch nur Geräte verwendet werden, die für den Anschluss beliebiger Zusatzmikrofone zugelassen sind.<br>
            CB-Datenfunk darf betrieben werden in den Betriebsarten F1D, F2D und G2D (Frequenz- und Phasenmodulation, FSK bzw. AFSK).<br>
            Damit ist es möglich, zum Beispiel Schmalband-Fernsehen (SSTV) oder Morsetelegraphie anzuwenden.<br>
            Am häufigsten kommt jedoch Packet Radio zum Einsatz.<br>
            Die Hobbyfunker haben sich inzwischen ein sehr großes und gut funktionierendes Netz aus Mailboxen (zum Speichern und Empfangen von persönlichen und allgemeinen Nachrichten), Digipeatern (Datenfunk-Umsetzern) und Nodes (Netzwerkknoten) hergestellt.<br>
            Zur Verwendung von Packet Radio benötigt man ein Modem, welches zum Beispiel am COM-Port eines PCs angesteckt und mit dem Funkgerät verbunden wird.<br>
            Zum Einsatz kommen auch sogenannte TNCs (Terminal Node Controller), sozusagen ein intelligentes Modem, welches auch ohne PC funktioniert.<br>
            <br>
            Detaillierte Infos erhalten Sie bei der Bundesnetzagentur für Elektrizität, Gas, Telekommunikation, Post und Eisenbahnen (früher RegTP) unter: <a href="www.bundesnetzagentur.de">www.bundesnetzagentur.de</a>.
        </p>

    </div>
</div> 