<div class="content">
    <div class="font-weight-bold">
        <h1>CB-Funk-Einsatzgebiete</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            Für CB-Funk gibt es viele Einsatzmöglichkeiten:<br>
            <br>
            CB-Funk ist optimal, um zwischen einem PKW und Zuhause eine kostengünstige Verbindung herzustellen. Egal, ob man sich nur unterhalten will, etwas Dringendes mitzuteilen hat oder der PKW-Fahrer noch etwas zum Einkaufszettel dazu notieren soll, diese Art von Kommunikation macht Spaß und bringt immer die Gewißheit, daß es beiden Seite gut geht.<br>
            <br>
            Es ist beruhigend, wenn man seine "Notrufsäule" im Fahrzeug hat. Egal, ob einem nur das Benzin ausgegangen ist, der Motor streikt oder eine sonstige Panne passiert ist.<br>
            Auch bei Unfällen kann ein CB-Funkgerät lebensrettend sein, denn auf irgendeinem Kanal ist immer jemand anzutreffen, der telefonisch Hilfe rufen kann.<br>
            Leider wird Kanal 9 FM (Notrufkanal) nur in sehr kleinen Gebieten Deutschlands abgehört, so daß man für schnelle Hilfe am besten einen belegten Kanal sucht und dort seine Lage erklärt.<br>
            <br>
            LKW-Fahrer benutzen den CB-Funk schon sehr lange, um sich über Straßenzustand und Staus zu informieren.<br>
            Nichts gegen den Verkehrsfunk populärer Radiostationen, auch im Zeitalter von Handys und den daraus entstandenen mobilen "Stauwarnern" ist CB-Funk immer noch die schnellste Informationsquelle, die auch so schnell durch nichts zu ersetzen sein wird.<br>
            Auch Standorte von Radarfallen lassen sich häufig über den CB-Funk ausfindig machen.<br>
            <br>
            Nicht nur Privatanwender benutzen den CB-Funk.<br>
            Kleine Firmen, für die Betriebsfunk zu kostspielig ist, und deren Kommunikation auch keine wichtigen oder geheimen Dinge enthält, sehen im CB-Funk eine günstige Möglichkeit, zu Firmenfahrzeugen oder auf ihrem Firmengelände Kontakt herstellen zu können.<br>
            Eine Alternative für kurze Entfernungen wären außerdem noch die gebührenfreien LPD- PMR- oderFreenet-Handys.<br>
            <br>
            Auch Landwirte nutzen CB-Funk, zum Beispiel, um vom Hof zum Traktor zu kommunizieren, oder verschiedene Bauernhöfe durch Funk zu verbinden.<br>
            <br>
            Maschinenringe bestücken ihre Fahrzeuge mit Funk, um bei dringendem Bedarf einfach das entsprechende Arbeitsgerät an Ort und Stelle abziehen und verlegen zu können.<br>
            <br>
            Auf hoher See, und natürlich auch auf Binnengewässern, befinden sich ebenfalls in vielen Booten CB-Funkgeräte. Gerade dort, wo große, ebene Wasserflächen sind, spielt der CB-Funk seine großen Reichweiten so richtig aus.<br>
            <br>
            Sicherlich gibt es auch professionelle Funkgeräte für Schiffahrt, aber zum "Schnacken" und "Klönen" ist das CB-Funkgerät nach wie vor die erste Wahl.<br>
            Und selbst im Ernstfall wird man auch mit dem CB-Gerät Hilfe bekommen!<br>
        </p>

    </div>
</div> 