<div class="content">
    <div class="font-weight-bold">
        <h1>CB-Funk - SWR - Dämpfung - Verluste</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
      <p>Im Zusammenhang mit der Montage einer Funkantenne tauchen oftmals die Begriffe SWR, Dämpfung, Verluste auf.</p>
    </div>
    <div class="cable-image">
        <img src="../assets/images/SWRmeterpan.jpg" />
    </div>
    <h2>Zusammenhang zwischen SWR und Verlust</h2>
    <table width="100%">
        <thead>
            <tr>
                <td style="width: 25%">SWR</td>
                <td style="width: 75">Verlust</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>1,22</td>
                <td>1%</td>
            </tr>
            <tr>
                <td>1,5</td>
                <td>4%</td>
            </tr>
            <tr>
                <td>1,85</td>
                <td>9%</td>
            </tr>
            <tr>
                <td>2,33</td>
                <td>16%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>25%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>36%</td>
            </tr>
            <tr>
                <td>5,66</td>
                <td>49%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>64%</td>
            </tr>
            <tr>
                <td>19</td>
                <td>81%</td>
            </tr>
            <tr>
                <td>oo</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
    <p>Der Einfluß des Verbindungskabels zwischen Antenne und CB-Funkgerät auf die Leistungsfähigkeit der gesamten Funkanlage</p>
    <h2 class="margin-top-3">RG58C/U</h2>
    <table width="100%">
        <thead>
            <tr>
                <th>Länge in m</th>
                <th>Dämpfung in db</th>
                <th>Verminderung der Sendeleistung in %</th>
                <th>Verschlechterung der Empfängerempfindlichkeit in %</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>5</td>
            <td>0,45</td>
            <td>10</td>
            <td>5</td>
        </tr>
        <tr>
            <td>7,5</td>
            <td>0,67</td>
            <td>14</td>
            <td>8</td>
        </tr>
        <tr>
            <td>10</td>
            <td>0,9</td>
            <td>19</td>
            <td>11</td>
        </tr>
        <tr>
            <td>12,5</td>
            <td>1,12</td>
            <td>23</td>
            <td>16</td>
        </tr>
        <tr>
            <td>15</td>
            <td>1,35</td>
            <td>27</td>
            <td>17</td>
        </tr>
        <tr>
            <td>20</td>
            <td>1,8</td>
            <td>34</td>
            <td>23</td>
        </tr>
        <tr>
            <td>25</td>
            <td>2,25</td>
            <td>40</td>
            <td>29</td>
        </tr>
        <tr>
            <td>30</td>
            <td>2,7</td>
            <td>47</td>
            <td>36</td>
        </tr>
        <tr>
            <td>40</td>
            <td>3,6</td>
            <td>57</td>
            <td>51</td>
        </tr>
        <tr>
            <td>50</td>
            <td>4,5</td>
            <td>65</td>
            <td>68</td>
        </tr>
    </tbody></table>
    <h2 class="margin-top-3">RG213</h2>
    <table>
        <thead>
            <tr>
                <th>Länge in m</th>
                <th>Dämpfung in db</th>
                <th>Verminderung der Sendeleistung in %</th>
                <th>Verschlechterung der Empfängerempfindlichkeit in %</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>5</td>
            <td>0,15</td>
            <td>3</td>
            <td>1,7</td>
        </tr>
        <tr>
            <td>7,5</td>
            <td>0,22</td>
            <td>5</td>
            <td>2,5</td>
        </tr>
        <tr>
            <td>10</td>
            <td>0,3</td>
            <td>7</td>
            <td>3,5</td>
        </tr>
        <tr>
            <td>12,5</td>
            <td>0,37</td>
            <td>8</td>
            <td>4,3</td>
        </tr>
        <tr>
            <td>15</td>
            <td>0,45</td>
            <td>10</td>
            <td>5,3</td>
        </tr>
        <tr>
            <td>20</td>
            <td>0,6</td>
            <td>13</td>
            <td>7,2</td>
        </tr>
        <tr>
            <td>25</td>
            <td>0,75</td>
            <td>15</td>
            <td>9</td>
        </tr>
        <tr>
            <td>30</td>
            <td>0,9</td>
            <td>19</td>
            <td>11</td>
        </tr>
        <tr>
            <td>40</td>
            <td>1,2</td>
            <td>24</td>
            <td>15</td>
        </tr>
        <tr>
            <td>50</td>
            <td>1,5</td>
            <td>29</td>
            <td>18,8</td>
        </tr>
    </tbody></table>
</div> 