<div class="content">
    <div class="font-weight-bold">
        <h1>CB Funk Schutzzonen</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <table>
			<tbody><tr>
				<td>Aachen</td>
				<td>Euskirchen</td>
				<td>Ludwigshafen</td>
				<td>Rottal-Inn</td>
			</tr>
			<tr>
				<td>
				
				Ahrweiler</td>
				<td>
				
				Flensburg</td>
				<td>
				
				Märkisch-Oderland</td>
				<td>
				
				Rottweil</td>
			</tr>
			<tr>
				<td>
				
				Altötting</td>
				<td>
				
				Frankenthal</td>
				<td>
				
				Memmingen</td>
				<td>
				
				Saarbrücken</td>
			</tr>
			<tr>
				<td>Aurich</td>
				<td>
				
				Frankfurt/Oder</td>
				<td>
				
				Merzig-Wadern</td>
				<td>
				
				Saarlouis</td>
			</tr>
			<tr>
				<td>
				
				Bad Dürkheim</td>
				<td>
				
				Freiburg i. Br.</td>
				<td>
				
				Miesbach</td>
				<td>
				
				Saar-Pfalz-Kreis</td>
			</tr>
			<tr>
				<td>
				
				Bad 
				Tölz-Wolfratshausen</td>
				<td>
				
				Freudenstadt</td>
				<td>
				
				Mühldorf a. Inn</td>
				<td>
				
				
				Schleswig-Flensburg</td>
			</tr>
			<tr>
				<td>
				
				Baden-Baden</td>
				<td>
				
				Freyung-Grafenau</td>
				<td>
				
				Neunkirchen</td>
				<td>
				
				
				Schwarzwald-Baar-Kreis</td>
			</tr>
			<tr>
				<td>
				
				Barnim</td>
				<td>
				
				
				Garmisch-Partenkirchen</td>
				<td>
				
				Neustadt a. d. 
				Weinstraße</td>
				<td>
				
				Sigmaringen</td>
			</tr>
			<tr>
				<td>
				
				Bautzen</td>
				<td>
				
				Germersheim</td>
				<td>
				
				Niederschlesische 
				Oberlausitz</td>
				<td>
				
				Speyer</td>
			</tr>
			<tr>
				<td>
				
				Berchtesgadener 
				Land</td>
				<td>
				
				Görlitz</td>
				<td>
				
				Nordfriesland</td>
				<td>
				
				Spree-Neiße</td>
			</tr>
			<tr>
				<td>
				
				
				Bernkastel-Wittlich</td>
				<td>
				
				Grafschaft 
				Bentheim</td>
				<td>
				
				Oberallgäu</td>
				<td>
				
				St. Ingbert</td>
			</tr>
			<tr>
				<td>
				
				Biberach</td>
				<td>
				
				Greifswald</td>
				<td>
				
				
				Oberspreewald-Lausitz</td>
				<td>
				
				St. Wendel</td>
			</tr>
			<tr>
				<td>
				
				Birkenfeld/Nahe</td>
				<td>
				
				Heinsberg</td>
				<td>
				
				Oder-Spree</td>
				<td>
				
				Südl. Weinstraße</td>
			</tr>
			<tr>
				<td>
				
				Bitburg-Prüm</td>
				<td>
				
				Kaiserslautern</td>
				<td>
				
				Ortenaukreis</td>
				<td>
				
				Südwestpfalz</td>
			</tr>
			<tr>
				<td>
				
				Bodenseekreis</td>
				<td>
				
				Karlsruhe</td>
				<td>
				
				Ostallgäu</td>
				<td>
				
				Traunstein</td>
			</tr>
			<tr>
				<td>
				
				Borken</td>
				<td>
				
				Kaufbeuren</td>
				<td>
				
				Ostholstein</td>
				<td>
				
				Trier (-Saarburg)</td>
			</tr>
			<tr>
				<td>
				
				
				Breisgau-Hochschwarzwald </td>
				<td>
				
				Kempten</td>
				<td>
				
				Ostvorpommern</td>
				<td>
				
				Tuttlingen</td>
			</tr>
			<tr>
				<td>
				
				Calw</td>
				<td>
				
				Kleve</td>
				<td>
				
				Passau</td>
				<td>
				
				Uckermark</td>
			</tr>
			<tr>
				<td>
				
				Cochem-Zell</td>
				<td>
				
				Konstanz</td>
				<td>
				
				Pforzheim</td>
				<td>
				
				Uecker-Randow</td>
			</tr>
			<tr>
				<td>
				
				Cottbus</td>
				<td>
				
				Kusel</td>
				<td>
				
				Pirmasens</td>
				<td>
				
				Unterallgäu</td>
			</tr>
			<tr>
				<td>
				
				Daun</td>
				<td>
				
				Landau i. d. 
				Pfalz</td>
				<td>
				
				Rastatt</td>
				<td>
				
				Viersen</td>
			</tr>
			<tr>
				<td>
				
				Donnersbergkreis</td>
				<td>
				
				Leer</td>
				<td>
				
				Ravensburg</td>
				<td>
				
				Völklingen</td>
			</tr>
			<tr>
				<td>
				
				Emden</td>
				<td>
				
				Lindau</td>
				<td>
				
				
				Rendsburg-Eckernförde</td>
				<td>
				
				Waldshut</td>
			</tr>
			<tr>
				<td>
				
				Emmendingen</td>
				<td>
				
				Löbau-Zittau</td>
				<td>
				
				Rhein-Pfalz-Kreis</td>
				<td>
				
				Weilheim-Schongau</td>
			</tr>
			<tr>
				<td>
				Emsland</td>
				<td>
				
				Lörrach</td>
				<td>
				
				Rosenheim</td>
				<td>
				
				Zollernalbkreis</td>
			</tr>
			<tr>
				<td>
				
				&nbsp;</td>
				<td>
				
				&nbsp;</td>
				<td>
				
				&nbsp;</td>
				<td>
				
				Zweibrücken</td>
			</tr>
		</tbody></table>
    </div>
</div> 