<div class="content">
    <div class="font-weight-bold">
        <h1>Hier findest du verschiedene Downloads vom CT</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <a href="http://dx-charlytango.de/pdf_dateien/Internationaler%20Buchstabiercode.pdf" class="margin-bottom-2 d-flex align-items-center download-link">
            <div class="image-container margin-right-1">
                <img src="../assets/images/disk_07.gif" />
            </div>
            <span>Buchstabier-Alphabet </span>
        </a>
        <a href="http://dx-charlytango.de/pdf_dateien/Logbuch-CT.pdf" class="margin-bottom-2 d-flex align-items-center download-link">
            <div class="image-container margin-right-1">
                <img src="../assets/images/cd_06.gif" />
            </div>
            <span>Logbuch</span>
        </a>
        <a href="http://dx-charlytango.de/pdf_dateien/Prefix-CT.pdf" class="d-flex align-items-center download-link">
            <div class="image-container margin-right-1">
                <img src="../assets/images/disk_07.gif" />
            </div>
            <span>Prefix-Länderliste</span>
        </a>

    </div>
</div> 