<div class="content">
    <div class="font-weight-bold">
        <h1>CT Frequenzen von damals und / oder heute</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <div class="image-container">
            <img src="../assets/images/cbfunke2.gif" />
        </div>
        <table width="100%" cellspacing="3" cellpadding="0">
            <thead>
                <tr class="font-weight-bold">
                    <th>
                        <span>Frequenz </span>
                    </th>
                    <th>
                        <span>Band</span>
                    </th>
                    <th>
                        <span >Land</span>
                    </th>
                </th>
            </thead>
			<tbody>
                <tr>
                    <td>
                        <span>26.300</span>
                    </td>
                    <td>
                        <span>LSB</span>
                    </td>
                    <td>
                        <span>CT Members New Zealand</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>26.395</span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT Members USA</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>26.395</span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT Members Namibia</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>26.395</span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT England</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>26.925</span>
                    </td>
                    <td>
                        <span>FM</span>
                    </td>
                    <td>
                        <span>CT-DX-Club Call Frequenz</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.265</span>
                    </td>
                    <td>
                        <span>FM</span>
                    </td>
                    <td>
                        <span>CT Members Call Freq.Rees</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span> 27.315</span>
                    </td>
                    <td>
                        <span>FM</span></td>
                    <td>
                        <span>CT.Members (Europa,2CT114 USA)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.385</span>
                    </td>
                    <td>
                        <span>FM</span>
                    </td>
                    <td>
                        <span>CT-Club Call Frequenz (Hauptq)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.385</span>
                    </td>
                    <td>
                        <span>FM</span>
                    </td>
                    <td>
                        <span>CT-Members England</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.555 </span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT Members Europa,Int.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.575 </span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>312CT-DX ped.Molidavia</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.585 </span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>312CT-DX ped.Molidavia</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span> 27.765
                   </span></td>
                    <td>
                    <span>USB</span></td>
                    <td>
                    <span>Deutsche Welle</span></td>
                </tr>
                <tr>
                    <td>
                        <span> 27.765</span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT Members USA</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.765 </span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT Members Brasil</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>27.765 </span>
                    </td>
                    <td>
                        <span>USB</span>
                    </td>
                    <td>
                        <span>CT Members Canada</span>
                    </td>
                </tr>
		    </tbody>
        </table>
    </div>
</div> 