<div class="content">
    <div class="font-weight-bold">
        <h1>Charlytango Heute</h1>
        <div class="cable-image">
            <img src="assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <p class="font-weight-bold"> 
            Jahr 2002 ist der Internationale Borderland DX Group Charly Tango aus dem Register ausgetragen worden.</br>
            </br>
            Ich mache Weiter !!!!!
        </p>
        <div class="image-container">
            <img src="assets/images/wolfgang_mueller.jpg" />
        </div>
        <p>
            Wolfgang Müller</br>
            </br>
            Bissendorf</br>
            </br>
            Betreiber und Webmaster
        </p>
        <p>
            Der Charly Tango Club wird nicht mehr in das Register eingetragen somit auch kein e.v. werden.
        </p> 
        <p class="warning">Für die Mitglieder wird es keine Verpflichtungen geben.</p>
        <p>
            Seit der Wiederbelebung des Clubs sind ca. 120 neue Charly Tango´s zu verzeichnen. Ebenso viele "alte" Charly Tango´s haben sich gemeldet und mitgeteilt das sie noch aktiv sind.</br>
            </br>
            Des weiteren hat sich ein Chalrie Tango Club aus England gemeldet, der allem Anschein nach von dem "alten" Charly Tango DX Group abstammen.</br>
            </br>
            Es wird mit den CT´s aus England noch Kontakt auf genommen werden, in der Hoffnung das nach dort hin ein näherer Kontakt entsteht.  
        </p>
        <p class="warning">Wie bleibe ich auf Lebzeiten eine Charlytango Station ???</p>
        <p>
            Jede CT Station muss jährlich per Brief, per e mail oder Telefon bei dem CT-Club melden, ob sie noch aktiv ist oder ob sich die Adresse geändert hat. Liegt nach 2 Jahren kein bescheid vor, wird die CT.Nummer weitervergeben. !!!!</br>
            </br>
            Charly Tango Mitglieder kann man auch über eine sogenannte Funkplattform im Internet finden. Das Programm hierfür nennt sich Team Speak 3 und das Programm dafür kann man sich runter laden über den Menüpunkt TeamSpeak 3 und dann TS3 Download.
        </p>
    </div>
</div> 