<div class="content">
    <div class="font-weight-bold">
        <h1>CB-Funk und andere freie Sprechfunkdienste</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>Hier folgt eine kurze Übersicht über die Hochfrequenztechnischen Daten der in Deutschland zugelassenen Sprechfunkdienste,welche für den Jedermann Frei verfügbar ist</p>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
        <h3>CB-Funk</h3>
        <p>
            Der CB-Funk ist Privater Nahbereichsfunk im 27Mhz-Bereich und gehört zum<br>
            <br>
            Nichtöffentlichen mobilen Landfunk.<br>
            <br>
            Jedermann kann am CB-Funk Teilnehmen,wobei alle CB-Funker gleichberechitgt sind<br>
            <span class="warning"> gibt es in Deutschland ca 300.000 aktive Anwender.</span>
            <br><br>
            Seit dem 10 Semptember 2003 ist CB-Funk in Deutschland <span class="warning">anmelde und gebüren frei.</span> Das gilt für AM , FM und auch für SSB.
        </p>
        <table style="text-align: left; width: 100%;" >
            <tbody>
                <tr>
                    <td style="width: 30%">Frequenz:</td>
                    <td style="width: 70%">26.560Khz – 26.955 Khz</td>
                </tr>
                <tr>
                    <td>Frequenzraster:</td>
                    <td>10 Khz</td>
                </tr>
                <tr>
                    <td>Band:</td>
                    <td>11m</td>
                </tr>
                <tr>
                    <td>Kanal</td>
                    <td>insgesamt 80 Kanäle</td>
                </tr>
                <tr>
                    <td>Sendeleistung:</td>
                    <td>Bis zu 4 Watt an der Antenne,dabei sind 
                    Richtantennen mit Gewinn erlaubt</td>
                </tr>
                <tr>
                    <td>Modulation:</td>
                    <td>AM FM SSB oder auch digitale 
                    Übertragungsarten auf (Packet Radio)</td>
                </tr>
                <tr>
                    <td>Reichweiten:</td>
                    <td>Entliche Kilometer,bei 
                    Nutzung von Reflexionen auch Langsteckenübertragung Möglich 
                    ( Kurzwelle)</td>
                </tr>
                <tr>
                    <td>Gateway-Betrieb</td>
                    <td>Ist auch Möglich auf Kanal 
                    11,29,34,39,61,71,80</td>
                </tr>
                <tr>
                    <td>Datenfunk:</td>
                    <td>Ist auch Möglich auf Kanal 
                    6.7,24,25,40,41,52,53,76,77</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex margin-top-2">
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/image003.jpg" />
            </div>
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/image005.jpg" />
            </div>
        </div>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
        <h3>Freenet</h3>
        <p>Freenet ist ein erst vor kurzem eingeführter anmelde und gebührenfreier Sprechfunk.</p>
        <table style="text-align: left; width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 30%">Frequenz:</td>
                    <td style="width: 70%">26.560Khz – 26.955 Khz</td>
                </tr>
                <tr>
                    <td>Frequenzraster:</td>
                    <td>10 Khz</td>
                </tr>
                <tr>
                    <td>Reichweite:</td>
                    <td>5000m Reichweite</td>
                </tr>
                <tr>
                    <td>Band</td>
                    <td>2m</td>
                </tr>
                <tr>
                    <td>Kanäle:</td>
                    <td>insgesamt 6 Kanäle</td>
                </tr>
                <tr>
                    <td>Sendeleistung:</td>
                    <td>Max.0,5 Watt ERP</td>
                </tr>
                <tr>
                    <td>Modulation::</td>
                    <td>FM</td>
                </tr>
                <tr>
                    <td>Gateway-Betrieb</td>
                    <td>Ist auf allen Kanäle möglich</td>
                </tr>
            </tbody>
        </table>
        <div class="image-container margin-right-1 p-1 background-white margin-top-2">
            <img src="../assets/images/image006.jpg" />
        </div>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
        <h3>Pmr 446</h3>
        <p>(Private Mobile Radio)<br>
            <br>
            Pmr 446 ist anmelde und gebührenfreier Nahbereichsfunk für Sprachübertragung, <br>
            <br>
            wobei nur <br>
            <br>
            Handfunkgeräte und Tischfunkgeräte mit fest eingebauter Antenne zugelässig sind.
        </p>
        <table style="text-align: left; width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 30%">Frequenz:</td>
                    <td style="width: 70%">446,00625 Mhz – 446,09375Mhz</td>
                </tr>
                <tr>
                    <td>Frequenzraster:</td>
                    <td>12.5 Khz</td>
                </tr>
                <tr>
                    <td>Band:</td>
                    <td>70cm</td>
                </tr>
                <tr>
                    <td>Kanäle</td>
                    <td>insgesamt 8 Kanäle</td>
                </tr>
                <tr>
                    <td>Sendeleistung:</td>
                    <td>Max.0,5 Watt ERP</td>
                </tr>
                <tr>
                    <td>Modulation:</td>
                    <td>FM oder PM (Phasenmodulation)</td>
                </tr>
                <tr>
                    <td>Reichweiten:</td>
                    <td>5 – 10 Kilometer</td>
                </tr>
                <tr>
                    <td>Gateway-Betrieb</td>
                    <td>Ist auf allen Kanäle möglich</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex margin-top-2">
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/image007.jpg" />
            </div>
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/image008.jpg" />
            </div>
        </div>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
        <h3>SRD (Führer LPD)</h3>
        <p>SRD (Short Range Device – ehemals LPD,Low Power Device , genannt)ist ein Sprechfunk
            <br>
            Mit sehr<br>
            <br>
            Geringer Leistung,welche sowohl anmelde als auch gebührenfrei ist.
        </p>
        <table style="text-align: left; width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 30%">Frequenz:</td>
                    <td style="width: 70%">433,1250Mhz – 434,3125Mhz</td>
                </tr>
                <tr>
                    <td>Frequenzraster:</td>
                    <td>5khz 10khz 12,5khz 20khz 25khz oder 50 khz</td>
                </tr>
                <tr>
                    <td>Band:</td>
                    <td>70cm</td>
                </tr>
                <tr>
                    <td>Kanäle</td>
                    <td>insgesamt 80 Kanäle</td>
                </tr>
                <tr>
                    <td>Sendeleistung:</td>
                    <td>Max.0,01 Watt ERP</td>
                </tr>
                <tr>
                    <td>Modulation:</td>
                    <td>FM oder auch digitale Übertragungsarten (Packet Radio)</td>
                </tr>
                <tr>
                    <td>Reichweiten:</td>
                    <td>Über Land einige Kilometer in Wohngebieten wenige hundert Meter .Dabei Störungen durch andere Nutzer die Frequenzbandes,wie etwa Garagentoröffner oder auch drahtlose Kopfhörer</td>
                </tr>
                <tr>
                    <td>Gateway-Betrieb</td>
                    <td>Ist auf allen Kanäle möglich</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex margin-top-2">
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/image010.jpg" />
            </div>
        </div>
    </div>
</div> 