<div class="content">
    <div class="font-weight-bold">
        <h1>CB-Funk-Geschichte</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            1974 verabschiedete die in CEPT Lissabon eine Empfehlung für einen Hobbyfunk im 27-MHz Bereich.<br>
In Deutschland wurde die CEPT-Empfehlung zum 01. Juli 1975 durch die Amtsblattverfügung 393/1975 von der Deutschen Bundespost (DBP) umgesetzt und damit CB-Funk eingeführt.<br>
Erlaubt war der Betrieb auf 12 Frequenzen (Kanal 4 bis 15) mit einer maximalen Sendeleistung von 0,5 Watt PEP bzw. 0,1 Watt ERP (für Handfunkgeräte).<br>
Sogenannte bewegliche Sprechfunkanlagen (Mobil- und Handfunkgeräte) waren durch eine Allgemeingenehmigung anmelde- und gebührenfrei.<br>
Ortsfeste Sprechfunkanlagen (Heimstationen) hingegen mussten jedoch bei der DBP angemeldet werden, die monatliche Genehmigungsgebühr betrug DM 15.-.<br>
Heimstationen wurde ein Rufname zugeteilt, welcher aber meist frei gewählt werden durfte.<br>
Der Funkverkehr zwischen Heimstationen untereinander war untersagt.<br>
Als Modulationsart kam Anfangs ausschließlich Amplituden-Modulation (AM), ab 1978 zunehmend auch Frequenz-Modulation (FM) zum Einsatz.<br>
<br>
1981 veröffentlichte das Bundesministerium für Post und Telekommunikation (BMPT) im Amtsblatt 62/1981 die Verfügung 434/1981.<br>
Diese gab die Funkkanäle 1 bis 22 für den Betrieb mit 0,5 Watt in FM frei.<br>
Die Gebühr für Heimstationen wurde auf DM 10.- gesenkt und es sollte eine sogenannte Pilotton-Sperre eingeführt werden, mit welchem der Funkverkehr der Heimstationen untereinander blockiert werden sollte (wurde von der Industrie weitestgehend ignoriert).<br>
Die alten 12 Kanal-AM Geräte sollten durch eine Anmeldefrist bis zum 31.12.1982 langsam aus dem Verkehr gezogen werden.<br>
Ab dem 01.01.1992 sollte AM endgültig verboten werden.<br>
<br>
Das BMPT hatte die Rechnung ohne die CB-Funker und die CB-Industrie gemacht.<br>
Die CB-Funker wollten AM behalten und die Industrie jammerte, daß die neuen 22-Kanal-Geräte unverkäuflich seien.<br>
Am 01.03.83 fand ein Gespräch zwischen Vertretern der Behörde, der CB-Funker und der Industrie statt.<br>
Daraus ergab sich folgender Kompromiß, der im Amtsblatt 55/1983 vom 12.04.83 veröffentlicht wurde:<br>
Das Anmeldeverbot für 12-Kanal-Heimstationen wurde aufgehoben. Außerdem wurden 40 Kanäle FM freigegeben.<br>
Das führte zu der kuriosen deutschen 40/12-Kanal-Regelung. Erstmalig wurde die Gebührenpflicht nicht nur nach der Bauart des Gerätes (Handgerät, Mobil- oder Heimstation) bestimmt, sondern auch nach der Modulationsart:<br>
Geräte mit 40 FM- und 12-AM-Kanälen - egal, ob Mobil- oder Heimstation - kosteten 10 DM Genehmigungsgebühr im Monat. 40-Kanal-FM-Heimstationen kosteten 5 DM, 40-Kanal-FM-Mobilgeräte waren anmelde- und gebührenfrei, ebenso alte 12-Kanal-Geräte (Bestandsschutz).<br>
<br>
Wenig später, 1984, gab erneut eine Änderung:<br>
Mit Amtsblattverfügung 768/1984 vom 18.09.84 bestimmte das BMPT, daß alle FM-Geräte künftig anmelde- und gebührenfrei seien. 40/12-Kanal-Mobil- und Heimstationen sowie bestimmte Handfunkgeräte kosteten 5 DM/Monat.<br>
Für diese 5 DM Monatsgebühr konnten bis zu fünf Geräte betrieben werden.<br>
Diese Regelung hatte bis zum Inkrafttreten des neuen Telekommunikationsgesetzes Mitte 1996 Bestand.<br>
<br>
Nach wie vor waren alle Genehmigungen, die sich auf Geräte mit AM bezogen, auf den 31.12.1991 befristet.<br>
Ab 01.01.1992 sollte AM-Betrieb nach dem Willen des BMPT nicht mehr zulässig sein (siehe oben).<br>
Erst Ende 1988 rückte das BMPT von dieser Position ab und gab AM wieder unbefristet frei.<br>
<br>
Inzwischen wurde der CB-Funk noch einmal aufgewertet.<br>
Die RegTP gab den Einsatz beliebiger Antennenarten frei (bis dato waren nur Vertikal-Antennen ohne Gewinn zulässig), zum Beispiel Dipole oder gewinnbringende Richtantennen.<br>
Zusätzlich wurden 40 weitere Frequenzen unterhalb der bisherigen 40 Kanäle für den Gebrauch freigegeben, allerdings mit einer gewissen und vielkritisierten Einschränkung:<br>
Eine sogenannten Schutzzone zu den Nachbarländern, welche für Feststaionen 45 km und für Mobil- und Portabel-Stationen 25 km zum benachbarten Ausland beträgt.<br>
Innerhalb dieser Schutzzone ist die Verwendung der Kanäle 41 bis 80 nicht gestattet. Somit hat ein großer Teil der CB-Funk nach wie vor nur 40 Kanäle zur Verfügung.<br>
<br>
Mit der Verfügung 289/1997, geändert durch Verfügung 50/1998, der RegTP wurden nun auch digitale Betriebsarten im CB-Funk freigegeben.<br>
In der Hauptsache kommt in Deutschland Packet Radio zum Einsatz. Aber auch andere digitale Betriebsarten wie SSTV oder Morsetelegraphie sind damit möglich geworden.<br>
Mit der Verfügung 288/1997 sollte eine Rufzeichenpflicht im digitalen CB-Funk eingeführt werden, welche jeden Funker verpflichtete, ein ein von der RegTP zugeteiltes Rufzeichen für digitale Betriebsarten zu benutzen.<br>
Allerdings stieß diese Regelung auf heftigsten Widerstand unter den Funkern und Verbänden, so das diese mit der Verfügung 49/1998 zurück gezogen wurde.<br>
Dem digitalen CB-Funker stehen nun Rufzeichen aus einer, von der ITU zugeteilten Reihe zur Verfügung, welche aber nicht verwendet werden müssen.<br>
<br>
Seit 29.05.2002 wurde vorläufig befristet bis zum 31.3.2004 die Modulationsart SSB auf den Kanälen 4 - 15 mit maximal 4 Watt Sendeleistung gestattet.(Zulassung 268/2002) Die Einzelzuteilung gilt für die Frequenznutzung durch Geräte, die in Übereinstimmung der Europäischen Norm ETSI EN 300433 aufgrund einer Konformitätserklärung mit einer CE-Kennzeichnung versehen sind.<br>
<br>
Die RegTP veröffentlichte am 10.09.2003 neue Vorschriften für den CB-Funk:<br>
Allgemeinzuteilung (Vfg 41/2003) im Amtsblatt Nr.18<br>
<br>
Die wichtigsten Neuerungen:<br>
<br>
Die Befristung bis 31.3.2004 für SSB (Zulassung 268/2002 - siehe oben) wurde aufgehoben.<br>
<br>
Weiterhin 80 FM-Kanäle (4 Watt), 12 Kanäle SSB (4Watt) und 12 Kanäle AM (1 Watt)<br>
<br>
CB-Funkgeräte müssen nicht mehr bei der RegTP angemeldet werden.<br>
<br>
CB-Funker müssen rückwirkend ab 01.01.2003 keine Frequenznutzungs- oder EMV-Gebühren mehr bezahlen.<br>
<br>
Zum Betrieb zulässig sind Geräte, welche der R&TTE-Richtlinie entsprechen und ein CE-Zeichen tragen, oder ein deutsches Zulassungszeichen tragen, oder in einem anderen europäischen Land zugelassen wurden.<br>
<br>
Ortsfeste Funkanlagen mit einer effektiven Strahlungsleistung ab 10 Watt EIRP benötigen auch in Zukunft eine Standortbescheinigung der RegTP.<br>
<br>
Die CB-Kanälen 6, 7 wurden zusätzlich für die Datenfunk freigegeben (bisher: 24, 25, 52, 53, 76, 77).<br>
Datenfunk darf nur in den Betriebsarten F1D, F2D und G2D (Frequenz- und Phasenmodulation, FSK bzw. AFSK) betrieben werden.<br>
<br>
Eine Rufzeichenpflicht gibt es nicht. Falls Rufzeichen verwendet werden, empfielt die RegTP, sich an den DAKfCBNF zu wenden, um (Zitat) "eine missbräuchliche Verwendung von internationalen Rufzeichen zu verhindern".<br>
<br>
Das Verbot der Nutzung der Kanäle 41-80 in den Schutzzonen (Grenznähe) gilt nur noch für ortsfeste CB-Funkstellen.<br>
CB-Handfunkgeräte und CB-Mobilstationen sind davon nicht mehr betroffen.<br>
Ortsfeste CB-Funkstellen innerhalb dieser Schutzzonen können weiterhin eine kostenpflichtige Frequenzzuteilung für Nutzung der Kanäle 41-80 bei der RegTP beantragen.<br>
<br>
Die neue Allgemeinzulassung ist befristet bis zum 31.12.2013<br>
<br>
Detaillierte Infos erhalten Sie bei der Bundesnetzagentur für Elektrizität, Gas, Telekommunikation, Post und Eisenbahnen (früher RegTP) unter: www.bundesnetzagentur.de.</p><br>

    </div>
</div> 