<div class="content">
    <div class="font-weight-bold">
        <h1>Hochfrequenzwellen</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            1. Es sind keine Reflektionen  der<br>
            <br>
Ionosphäre:<br>
<br>
Die F2-Schicht<br>
<br>
Ist definitiv das wichtigste Medium zur Reflektion bzw. der Bildung einer Raumwelle für den<br>
<br>
Weitverkehr ( DX = 4000 Km) ! Wir befinden uns aber zur Zeit im Minimum 2006 - 2007 und es kommt danach<br>
<br>
  zu den 24. Sonnenfleckenmaximum erst im Jahr 2011 - 2012 ( es soll kräftiger sein als der 23. Zyklus ! )<br>
  <br>
  Also die derzeitigen Störungen kommen nicht von der Ionosphäre (F2-Schicht) !!!<br>
  <br>
  <br>
2. Jedes Jahr vom Monat Mai bis August in ausnahmefällen bis Dezember kommt es zu<br>
<br>
<br>
Troposphärisch bedingte Überreichweiten (im UKW, UHF, VHF-Band) Infolge von Luftbewegungen und sonstigen meteorologischen Einflüssen kann die Änderung der Lufttemperatur sowie der relativen Feuchte sehr sprunghaft und dadrch vom Normalverlauf abweichend erfolgen. Eine solche Temperaturumkehr ändert die Luftdichte. Dabei bildet die Warmluft ein düneres Medium als die Kaltluft. Nach dem Berechnungsgesetz der Optik wird ein Lichtstrahl beim Übertritt aus einem optisch dichten Medium in ein optisch dünneres Medium vom Lote weg gebrochen, im umgekehrten Fall erfährt er eine Brechung zum Lote hin. Auch die UKW verhalten sich bei Dichteänderungen des Ausbreitungsmediums wie Lichtstrahlen.<br>
<br>
<br>
Beim Eintritt in eine Inversionsschicht erfährt die Wellenfront eine Krümmung zur Erd- oberfläche hin. Die Inversionsschichten befinden sich in verhältnis- maeszig geringer Höhe ueber den Erdboden. Entweder sind es Boden- inversionen in Erdbodennaehe (geringe Ueberreichweiten) oder Höhen- inversionen in Höhen bis zu einigen tausend Metern (große Überreich- weiten). Bei starken Luftbewegungen können sich wegen der ständigen Durchmischung der Luftmassen Inversionen nich ausbilden. Weitreichende Höheninversionen entstehen im Zusammenhang mit ausgedehnten Hoch- druckgebieten. In den Monaten September bis November sind tropos- phaerisch bedingte Überreichweiten in Mitteleuropa sehr häufig.<br>
<br>
<br>
Ein besonders Phänomen ist die seltene troposphärische Schlauchüber- tragung (engl.: Ducting). Hatten wir in Mitte August 1999 ! Sie kann entstehen, wenn mehrere Inversionsschichten übereinanderliegen. Ein Funkstrahl, der zwischen diese Schichten gelangt, wird so lange von einer Schicht zur anderen reflektiert, bis die untere Schicht ''Löcher'' zeigt. Dieser Fall ist dadurch gekennzeichnet, dasz Verbindungen nur mit weit entfernten Stationen in einem oft sehr eng begrenzten Raum möglich sind. Dazwischen befindet sich meistens eine empfangstote Zone. Da durch die Klimaverschiebung dies relativ zu sehen ist, können wir es fast im ganzen Jahr zu unregelmäßigen Zeiten beobachten und es kommt zu Störungen. DX'er profitieren natürlich.
        </p>
    </div>
</div> 
