<div class="content">
    <div class="font-weight-bold">
        <h1>Ruhe´t In Frieden</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <p> 
            An Unsere Freunde / Funker  </br>
            </br>
            Dein Weg zum Licht:</br>
            </br>
            Wenn es möglich wäre,
            würden wir dich gern ein letztes Mal umarmen und ganz fest an uns drücken.
            Wenn es möglich wäre,würden wir dir sagen,
            dass wir dich immer lieben werden.Wahrscheinlich würdest du wollen,
            dass wir nicht ewig trauern, weil es da, wo du jetzt bist,
            keinen Schmerz und kein Leid gibt.
            Wenn es möglich wäre,
            das Unabwendbare akzeptieren und uns freuen,
            dass du den Weg zum Licht gefunden und jetzt ein Leben in Fülle hast.
        </p>
        <div class="image-container margin-bottom-3 margin-top-3">
            <div class="d-flex justify-content-center">
                <img src="../assets/images/kerze.gif" />
                <img style="width: 290px" 
                src="../assets/images/13CT1780_wolfgang_weeze.jpg" />
                <img src="../assets/images/kerze.gif" />
            </div>
            <p>13CT1780 Wolfgang, Weeze NRW</p>
        </div>
        <div class="image-container">
            <div class="d-flex justify-content-center">
                <img src="../assets/images/kerze.gif" />
                <img style="width: 290px" 
                src="../assets/images/13ct-1.jpg" />
                <img src="../assets/images/kerze.gif" />
            </div>
            <p>13CT001 Pit (Eberhard) Borken NRW</p>
        </div>
    </div>
</div> 