<div class="content">
    <div class="font-weight-bold">
        <h1>Mikrofonbelegungen von PMR / LPD und Freenet Geräten.</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <h2>Mikrofonbelegungen von PMR / LPD und Freenet Geräten.</h2>
        
        <h3>Mikrofone mit 2,5/3,5mm Doppelmono-Klinkenstecker</h3>
        <p>Alan 441, Alan 443, Alan 451, Alan 456, Alan 456R,<br>
            <br>
            Albrecht Sporty, Albrecht Sporty-Family 1+2, Albrecht Sporty Pro 69, Albrecht Sporty-Fun, Albrecht Froggy, Albrecht Tectalk Contact, Albrecht Tectalk Action, Albrecht Tectalk Office, Albrecht Multicom-Pro,  Albrecht Tectalk Pro und Mobil<br>
            <br>
            Stabo Flytalk, Stabo XP-400, Stabo XP-500, Stabo Freetalk, Stabo Freetalk-2, Stabo Freetalk-UHF,<br>
            <br>
            Cobra MT-500, Cobra MT-700, Cobra MT-900,<br>
            <br>
            KPO MT-2000L, KPO MT-4000L, KPO PB-1000R,<br>
            <br>
            DNT ProfiTek-77, DNT XP-8, DNT XLP-77, DNT DRS 1000, DNT DRS 2000,<br>
            <br>
            ICOM IC-4088SR,<br>
            <br>
            Team MiCo-446,<br>
            <br>
            Alinco DJ-446E,<br>
            <br>
            Reer 5000, Reer 5001, Reer 5003, Reer 5004,<br>
            <br>
            Midland G7, Midland G12, Alan Base 446, Alan HP 446. Alan 445, Alan 42H,
        </p>
        <div class="d-flex">
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/welcherstecker 4.4.gif" />
            </div>
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/welcherstecker 4.1 neu.gif" />
            </div>
        </div>
        
        <h3 class="margin-top-3">Mikrofone mit 2,5 Stereo- Klinkenstecker</h3>
        <p>Team TR-446 mit Radio, Team UHF-DualTalk, Team UHF-HANDY, Team Messenger,<br>
            <br>
            Alan-421, Alan K1,  Midland G5 R1, Alan 777, Midland G-5<br>
            <br>
            Albrecht Tectalk, Albrecht Tectalk-FM mit UKW-Radio, Albrecht Tectalk-Freestyle, Albrecht Tectalk-Joker, Albrecht GP-1 mit GPS-Navigator, Tectalk Smart, Tectalk FM+<br>
            <br>
            Stabo Freecomm-500, Stabo Freecomm-500-FM mit UKW-Radio, Stabo Freecomm-300, Stabo XP-300, Stabo Outdoor,<br>
            <br>
            DigiCom (z.B. von QVC),<br>
            <br>
            Conrad Pocket-Comm-Starter, Conrad Pocket-Comm-One, Conrad Pocket-Comm-Double, Conrad Pocket-Comm-Radio,<br>
            <br>
            Binatone MR-600, Bidatong BD 6118,  Bidatong BD 7118<br>
            <br>
            DNT WT-77 nur Vox, DNT WT-8
        </p>
        <div class="image-container margin-right-1 p-1 background-white">
            <img src="../assets/images/welcherstecker 4.2 neu.gif" />
        </div>
        
        <h3 class="margin-top-3">Mikrofone mit 3,5 Stereo-Klinkenstecker Belegung 1</h3>
        <p>
            Alan-456 für Intercom-Anschlussbuchse (Motorrad-Wechselsprechanlage), Alan-456R für Intercom-Anschlussbuchse (Motorrad-Wechselsprechanlage), Alan-507, Alan-401,<br>
            <br>
            Tevion PMR2003(nur Vox),<br>
            <br>
            Starq (nur Vox),<br>
            <br>
            Twintalker 3000, Twintalker 3500,<br>
            <br>
            Cobra MT-700 für Intercom-Anschlussbuchse (Motorrad-Wechselsprechanlage), Cobra MT-900 für Intercom-Anschlussbuchse (Motorrad-Wechselsprechanlage),<br>
            <br>
            Albrecht Tectalk-Action für Intercom-Anschlussbuchse (Motorrad-Wechselsprechanlage),<br>
            <br>
            Micro-Electric WT-246 (ohne Gewähr),<br>
            <br>
            DNT TouchCom TC-1,<br>
            <br>
            TTI PMR-122TX,<br>
            <br>
            Binatone MR100, Binatone MR200, TC-109,<br>
            <br>
            DANITA TC-109,<br>
            <br>
            Commodore Funpack II, Kombix Rocky,<br>
            <br>
            TC-109ER,<br>
            <br>
            Zodiac Me2You,<br>
            <br>
            Logicom Spider 700,<br>
            <br>
            Tevion PMR 2003, Sabaki
        </p>
        <div class="image-container margin-right-1 p-1 background-white">
            <img src="../assets/images/welcherstecker 4.3neu.gif" />
        </div>
        
        <h3 class="margin-top-3">Mikrofone mit 3,5 Quadro-Klinkenstecker Belegung Team</h3>
        <p>Team TeCom 446, Team TeCom 435</p>
        <div class="image-container margin-right-1 p-1 background-white">
            <img src="../assets/images/welcherstecker 4.5neu.gif" />
        </div>

        <h3 class="margin-top-3">Mikrofone mit 2,5mm Stereo und 3,5mm Mono-Doppelklinkenstecker</h3>
        <p>
            Stabo Freecomm 200, Stabo Freecomm 220, Stabo Flytalk<br>
            <br>
            Team McTalk 446, Team OnAir 446,<br>
            <br>
            Danita SP 3380,<br>
            <br>
            Commodore Funpack(außer Funpack 1, 2, 3),<br>
            <br>
            Hoffer SP 3380,<br>
            <br>
            Busch ProfiTalkie 2,<br>
            <br>
            MBO WT 446,<br>
            <br>
            DNT Space 100,<br>
            <br>
            ELRO WT 02,<br>
            <br>
            Reer 6000,<br>
            <br>
            Elro WT2,<br>
            <br>
            AEG Funky 1, AEG Funky 50,<br>
            <br>
            <br>
            <span class="font-weight-bold">NUR VOX:</span>
            <br>
            <br>
            Alan 441, 443, 451, 456, 456R,
            <br>
            Albrecht Tectalk Action, Tectalk Contact, Multicom Pro,<br>
            <br>
            Stabo Flytalk, Freetalk UHF,<br>
            <br>
            Cobra MT 700 MT 900,<br>
            <br>
            KPO MT 2000L, MT 4000L, PB 1000R,<br>
            <br>
            DNT ProfiTek 77, XP 8, XLP 77, DRS 1000, Reer 5000, 5001, 5003, 5004<br>
        </p>
        <div class="d-flex">
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/welcherstecker 4.2 neu.gif" />
            </div>
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/welcherstecker 4.4.gif" />
            </div>
        </div>
        
        <h3 class="margin-top-3">Mikrofone mit 2,5mm Stereo und 3,5mm Mono-Doppelklinkenstecker</h3>
        <p>Team PT-3208S(+baugleiche Geräte),<br>
        <br>
        Stabo Freetalk-Pro,<br>
        <br>
        Kenwood FunKey UBZ-LH68 LPD, Kenwood FunKey UBZ-LJ8 PMR, TK-3201 PMR, TK-3101 PMR, TK-261 Freenet,<br>
        <br>
        Bidatong BD PMR A und B, Bidatong BD-3107, Bidatong BD-2107</p>
        <div class="d-flex">
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/welcherstecker 4.1 neu.gif" />
            </div>
            <div class="image-container margin-right-1 p-1 background-white">
                <img src="../assets/images/welcherstecker 4.4.gif" />
            </div>
        </div>
        
        <h3 class="margin-top-3">Steckernorm in der Übersicht</h3>

        <div class="image-container margin-right-1 p-1 background-white">
            <img src="../assets/images/welcherstecker 3 neu.gif" />
        </div>
    </div>
</div>