<div class="content">
    <div class="font-weight-bold">
        <h1>Mikrofonbelegung einiger CB-Funkgeräte</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <div class="image-container margin-right-1 p-1 background-white">
            <img src="../assets/images/mike-stecker.gif" />
        </div>
        <div class="mic-table-wrapper margin-top-1">
            <table width="100%" id="mic-table">
                <thead>
                    <tr>
                        <th>Gerätetyp</th>
                        <th>Steckertyp</th>
                        <th>Pin1</th>
                        <th>Pin2</th>
                        <th>Pin3</th>
                        <th>Pin4</th>
                        <th>Pin5</th>
                        <th>Pin6</th>
                        <th>Pin7</th>
                        <th>Pin8</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td >Alan 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Alan 5-pol</td>
                        <td >5polig DIN</td>
                        <td >Masse</td>
                        <td >Masse</td>
                        <td >PTT</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Alan 6-pol</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+12V
                        
                        </td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Alan Klinke</td>
                        <td >2,5mm/3,5mm KS</td>
                        <td >2,5 innen: Mic/PTT</td>
                        <td >2,5 außen: 
                        Mic-Masse</td>
                        <td >3,5 innen: 
                        Speaker</td>
                        <td >3,5 außen: Spk- 
                        Masse</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;
                        
                        </td>
                    </tr>
                    <tr>
                        <td >Albrecht 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Albrecht 6-pol</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >+12V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Astracom</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Conrad C-mobil</td>
                        <td >8polig DIN</td>
                        <td >Masse</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >PTT</td>
                        <td >Mikrofon</td>
                    </tr>
                    <tr>
                        <td >Danita 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Masse</td>
                        <td >Mikrofon</td>
                        <td >PTT</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Danita 5-pol</td>
                        <td >5polig DIN</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >DNT 5-pol</td>
                        <td >5polig DIN</td>
                        <td >Mikrofon</td>
                        <td >NF- Audio</td>
                        <td >PTT</td>
                        <td >Masse</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >DNT 6-pol</td>
                        <td >6polig Western</td>
                        <td >Masse</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >Mikrofon</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >DNT 8-pol</td>
                        <td >8polig DIN</td>
                        <td >Mikrofon</td>
                        <td >NF- Audio</td>
                        <td >PTT</td>
                        <td >Masse</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;+12V</td>
                    </tr>
                    <tr>
                        <td >Kaiser allgemein</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Kenwood 8-pol</td>
                        <td >8polig Japan</td>
                        <td >Mikrofon</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >Masse</td>
                    </tr>
                    <tr>
                        <td >Maas allgemein</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+12V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Maxon allgemein</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+12V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Midland allgemein</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Pan 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Pan 6-pol</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+12V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >President 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >President 6-pol</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+12V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Stabo 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Stabo 6-pol</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+8V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Stabo 8-pol</td>
                        <td >8polig Western</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;+12V</td>
                        <td >Masse</td>
                        <td >Mikrofon</td>
                        <td >PTT</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Stabo Klinke</td>
                        <td >2,5mm/3,5mm 
                        Klinkenstecker</td>
                        <td >2,5 innen: 
                        Mic/PTT</td>
                        <td >2,5 außen: 
                        Mic-Masse</td>
                        <td >3,5 innen: 
                        Speaker</td>
                        <td >3,5 außen: Spk- 
                        Masse</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Team 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Team 6-pol</td>
                        <td >6polig Japan</td>
                        <td >Mikrofon</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >Up/Down</td>
                        <td >Masse</td>
                        <td >&nbsp;+12V</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Uniden 4-pol</td>
                        <td >4polig Japan</td>
                        <td >Mikrofon</td>
                        <td >Masse</td>
                        <td >NF-Audio</td>
                        <td >PTT</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Wipe allgemein</td>
                        <td >5polig DIN</td>
                        <td >PTT</td>
                        <td >Masse</td>
                        <td >Mikrofon</td>
                        <td >&nbsp;</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >Yaesu allgemein</td>
                        <td >8polig Japan</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >PTT</td>
                        <td >Masse</td>
                        <td >Mikrofon</td>
                    </tr>
                    <tr>
                        <td >Zodiac allgemein</td>
                        <td >5polig DIN</td>
                        <td >PTT</td>
                        <td >Masse</td>
                        <td >Mikrofon</td>
                        <td >&nbsp;</td>
                        <td >NF-Audio</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 