<div class="content">
    <div class="font-weight-bold">
        <h1>Charly - Tango Mitgliederliste</h1>
        <p>Diese Liste befindet sich noch im Aufbau und es sind noch nicht alle Mitglieder zu finden.</p>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <div id="memberlist-container"></div>
        <div id="loading-spinner">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div> 