<div class="content">
    <div class="font-weight-bold">
        <h1>Neues Mitglied werden</h1>
        <div class="cable-image">
            <img src="assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <p class="font-weight-bold">Hier könnt ihr euch als Neues Mitglied anmelden</p>
        <p>
            Einfach das Anmeldeformular ausfüllen oder per Post.</br>
            </br>
            Durch die Anmeldung angegebenen Daten werden nicht an dritte weitergegeben.!!!!!</br>
            </br>
        </p>
        <iframe width="480" height="674" allowtransparency="true" frameborder="0" scrolling="no" src="https://www.gratis-kontaktformular.de/formContent.php?h=bea389a431136e29087282b1c4e47b40&amp;ref=http%3A%2F%2Fdx-charlytango.de%2Fneuanmeldung.htm"></iframe>
        
        <p></br>Wir bitten um etwas Geduld wenn nicht sofort die Sachen zu euch gesendet werden, alle an diesem Club mitwirkenden sind Berufstätig und werden ihr bestes geben so schnell wie möglich die Post zu beantworten.</p>
    </div>
</div> 