<div class="content">
    <div class="font-weight-bold">
        <h1>Neue Mitglieder</h1>
        <p>Seit Bekannt ist das es Charly Tango wieder gibt sind folgende Mitglieder NEU dazu gekommen</p>
        <div class="cable-image">
            <img src="assets/images/cable.gif" />
        </div>
    </div>
    <div>

        <table id="table5" width="100%">
            <thead>
                <tr class="font-weight-bold">
                    <th>
                        <span>Datum </span>
                    </th>
                    <th>
                        <span>Member</span>
                    </th>
                    <th>
                        <span >Name</span>
                    </th>
                    <th>
                        <span>Locator</span>
                    </th>
                    <th>
                        <span >Wohnort</span>
                    </th>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td align="center"><span>18.09.2022</span></td>
                    <td align="center"><span>13CT2233</span></td>
                    <td align="center"><span>
                    Oliver</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Neuruppin</span></td>
                </tr>
                <tr>
                    <td align="center"><span>14.09.2022</span></td>
                    <td align="center"><span>13CT3075</span></td>
                    <td align="center"><span>
                    Frank</span></td>
                    <td  align="center"><span>
                    JO43BK</span></td>
                    <td  align="center"><span>
                    Varel</span></td>
                </tr>
                <tr>
                    <td align="center"><span>09.08.2022</span></td>
                    <td align="center"><span>13CT2616</span></td>
                    <td align="center"><span>
                    Normann</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Eningen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>14.07.2022</span></td>
                    <td align="center"><span>13CT2869</span></td>
                    <td align="center"><span>
                    Andreas</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Fuldatal</span></td>
                </tr>
                <tr>
                    <td align="center"><span>05.07.2022</span></td>
                    <td align="center"><span>13CT2903</span></td>
                    <td align="center"><span>
                    Andreas</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Ursensollen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>12.06.2022</span></td>
                    <td align="center"><span>13CT199</span><span>3</span></td>
                    <td align="center"><span>
                    Steven</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Solingen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>10.06.2022</span></td>
                    <td align="center"><span>13CT1992</span></td>
                    <td align="center"><span>
                    Chantal</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Solingen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>10.06.2022</span></td>
                    <td align="center"><span>13CT1987</span></td>
                    <td align="center"><span>
                    Andreas</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Solingen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>06.06.2022</span></td>
                    <td align="center"><span>13CT6401</span></td>
                    <td align="center"><span>
                    Hans</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Willich</span></td>
                </tr>
                <tr>
                    <td align="center"><span>24.05.2022</span></td>
                    <td align="center"><span>13CT1881</span></td>
                    <td align="center"><span>
                    Stephan</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Bernau</span></td>
                </tr>
                <tr>
                    <td align="center"><span>17.05.2022</span></td>
                    <td align="center"><span>13CT1969</span></td>
                    <td align="center"><span>
                    Christian</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Quickborn</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.05.2022</span></td>
                    <td align="center"><span>13CT2109</span></td>
                    <td align="center"><span>
                    Camillo</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Erfurt</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.05.2022</span></td>
                    <td align="center"><span>
                    35CT1821</span></td>
                    <td align="center"><span>
                    Thomas</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Oedt an der Wild</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.05.2022</span></td>
                    <td align="center"><span>
                    13CT1068</span></td>
                    <td align="center"><span>
                    Dietmar</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Maintal</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.05.2022</span></td>
                    <td align="center"><span>13CT0699</span></td>
                    <td align="center"><span>
                    Andreas</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Dortmund</span></td>
                </tr>
                <tr>
                    <td align="center"><span>13.05.2022</span></td>
                    <td align="center"><span>
                    13CT2494</span></td>
                    <td align="center"><span>
                    Maik</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Rügen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>24.04.2022</span></td>
                    <td align="center"><span>
                    13CT8020</span></td>
                    <td align="center"><span>
                    Jochen</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Neu - Ulm</span></td>
                </tr>
                <tr>
                    <td align="center"><span>24.04.2022</span></td>
                    <td align="center"><span>
                    13CT3111</span></td>
                    <td align="center"><span>
                    Karsten</span></td>
                    <td  align="center"><span>
                    JO31JV</span></td>
                    <td  align="center"><span>
                    Borken</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.02.2022</span></td>
                    <td align="center"><span>
                    13CT1296</span></td>
                    <td align="center"><span>
                    Arno</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Wiesmoor</span></td>
                </tr>
                <tr>
                    <td align="center"><span>20.01.2022</span></td>
                    <td align="center"><span>
                    13CT1766</span></td>
                    <td align="center"><span>
                    Michael</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Eutin</span></td>
                </tr>
                <tr>
                    <td align="center"><span>14.01.2022</span></td>
                    <td align="center"><span>
                    13CT3950</span></td>
                    <td align="center"><span>
                    Thomas</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Staudt</span></td>
                </tr>
                <tr>
                    <td align="center"><span>14.01.2022</span></td>
                    <td align="center"><span>
                    13CT1769</span></td>
                    <td align="center"><span>
                    Thorsten</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Maintal</span></td>
                </tr>
                <tr>
                    <td align="center"><span>13.01.2022</span></td>
                    <td align="center"><span>
                    13CT3054</span></td>
                    <td align="center"><span>
                    Peter</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Kalbe/Burnau</span></td>
                </tr>
                <tr>
                    <td align="center"><span>24.10.2021</span></td>
                    <td align="center"><span>
                    13CT1989</span></td>
                    <td align="center"><span>
                    Lutz</span></td>
                    <td  align="center"><span>
                    JO40PR</span></td>
                    <td  align="center"><span>
                    Alsfeld</span></td>
                </tr>
                <tr>
                    <td align="center"><span>02.10.2021</span></td>
                    <td align="center"><span>
                    13CT3007</span></td>
                    <td align="center"><span>
                    Lenia</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Hamm</span></td>
                </tr>
                <tr>
                    <td align="center"><span>17.07.2021</span></td>
                    <td align="center"><span>
                    13CT1920</span></td>
                    <td align="center"><span>
                    Georg</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Vilsbiburg</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.07.2021</span></td>
                    <td align="center"><span>
                    13CT1960</span></td>
                    <td align="center"><span>
                    Peter</span></td>
                    <td  align="center"><span>
                    JN68FJ</span></td>
                    <td  align="center"><span>
                    Egglkofen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>13.06.2021</span></td>
                    <td align="center"><span>
                    13CT1315</span></td>
                    <td align="center"><span>
                    Markus</span></td>
                    <td  align="center"><span>
                    JO40DA</span></td>
                    <td  align="center"><span>
                    Mainz</span></td>
                </tr>
                <tr>
                    <td align="center"><span>12.06.2021</span></td>
                    <td align="center"><span>
                    13CT1698</span></td>
                    <td align="center"><span>
                    Colin</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Zettliz</span></td>
                </tr>
                <tr>
                    <td align="center"><span>12.06.2021</span></td>
                    <td align="center"><span>
                    13CT1697</span></td>
                    <td align="center"><span>
                    Ralf</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Zettliz</span></td>
                </tr>
                <tr>
                    <td align="center"><span>02.06.2021</span></td>
                    <td align="center"><span>
                    13CT1885</span></td>
                    <td align="center"><span>
                    Ulli</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Sehmatal-Neudorf</span></td>
                </tr>
                <tr>
                    <td align="center"><span>20.05.2021</span></td>
                    <td align="center"><span>
                    13CT1754</span></td>
                    <td align="center"><span>
                    Reinhold</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Bernau Am Chiemsee</span></td>
                </tr>
                <tr>
                    <td align="center"><span>18.04.2021</span></td>
                    <td align="center"><span>
                    13CT1976</span></td>
                    <td align="center"><span>
                    Daniel</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Dresden</span></td>
                </tr>
                <tr>
                    <td align="center"><span>15.03.2021</span></td>
                    <td align="center"><span>
                    13CT1752</span></td>
                    <td align="center"><span>
                    Diethold</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Castrop-Rauxel</span></td>
                </tr>
                <tr>
                    <td align="center"><span>09.03.2021</span></td>
                    <td align="center"><span>13CT1850</span></td>
                    <td align="center"><span>
                    Stefan</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Meschede</span></td>
                </tr>
                <tr>
                    <td align="center"><span>03.03.2021</span></td>
                    <td align="center"><span>13CT1654</span></td>
                    <td align="center"><span>
                    Volker</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Brilon</span></td>
                </tr>
                <tr>
                    <td align="center"><span>03.03.2021</span></td>
                    <td align="center"><span>13CT1643</span></td>
                    <td align="center"><span>
                    Wilhelm</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Steinhagen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>03.03.2021</span></td>
                    <td align="center"><span>13CT1619</span></td>
                    <td align="center"><span>
                    Michael</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Hattingen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>27.02.2021</span></td>
                    <td align="center"><span>13CT1909</span></td>
                    <td align="center"><span>
                    Sven</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Geldern</span></td>
                </tr>
                <tr>
                    <td align="center"><span>25.02.2021</span></td>
                    <td align="center"><span>13CT1995</span></td>
                    <td align="center"><span>
                    Tom</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Neubrandenburg</span></td>
                </tr>
                <tr>
                    <td align="center"><span>15.02.2021</span></td>
                    <td align="center"><span>13CT1783</span></td>
                    <td align="center"><span>
                    Michael</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Minden</span></td>
                </tr>
                <tr>
                    <td align="center"><span>09.02.2021</span></td>
                    <td align="center"><span>13CT4801</span></td>
                    <td align="center"><span>
                    Roland</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Laupheim</span></td>
                </tr>
                <tr>
                    <td align="center"><span>21.01.2021</span></td>
                    <td align="center"><span>13CT1875</span></td>
                    <td align="center"><span>
                    Christian</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Dülmen</span></td>
                </tr>
                <tr>
                    <td align="center"><span>16.01.2021</span></td>
                    <td align="center"><span>
                    13CT1775</span></td>
                    <td align="center"><span>
                    Jacob</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Halle ( Saale )</span></td>
                </tr>
                <tr>
                    <td align="center"><span>12.01.202</span><span>1</span></td>
                    <td align="center"><span>
                    13CT1474</span></td>
                    <td align="center"><span>
                    Marc</span></td>
                    <td  align="center">
                    &nbsp;</td>
                    <td  align="center"><span>
                    Dortmund</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 