<div class="content">
    <div class="font-weight-bold">
        <h1>Durchführung eines Notrufs</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>Kanal 9 wählen, CQ, Notruf von der Station (Rufnamen), wer kann mich<br>
            <br>
        aufnehmen? Bei Verbindung mit einer anderen CB-Station Notruf durchgeben<br>
        <br>
        mit genauer Standortangabe im Klartext, im Normalfall auch eigenen Namen und Adresse nennen, Hinweise über die gewünschten Hilfeleistungen (Polizei<br>
        <br>
        Notarzt , Pannenhilfe, Bergrettung usw.). Kommt auf Kanal 9 keine Verbindung<br>
        <br>
        zustande, sollte es auch auf den Kanälen 4, 5 und 6 versucht werden. Wer einem<br>
        <br>
        Notruf auffängt, wird selbstverständlich alles tun, um die nötige Hilfe (Polizei,<br>
        <br>
        Notarzt) über Telefon herbeizuholen. Es ist die Pflicht des CB-Funkers, sich bei<br>
        <br>
        einem Notruf zu melden und die Einleitung der Hilfsmaßnahmen abzusprechen.<br>
        <br>
        Wer einen Notruf mutwillig stört, wird aus dem Kreis der CB-Funker<br>
        <br>
        ausgeschlossen und muss mit einer Strafe wegen dem Verstoß gegen die<br>
        <br>
        allgemeine Funkverordnung rechnen . Die Verwendung der<br>
        <br>
        Notrufzeichen ,, Mayday ’’ und ,, SOS ’’ ist nicht zugelassen.<br>
        <br>
        Kanal 9 AM<br>
        <br>
        Der Kanal 9 AM ist der Internationale Kraftfahrer (LKW) Anrufkanal !!</p>
        <div class="w-100 d-flex justify-content-between">
            <div class="image-container margin-right-1">
                <img src="../assets/images/peterb_l.gif" />
            </div>
            <div class="image-container margin-right-1">
                <img src="../assets/images/peterb_r.gif" />
            </div>
        </div>
    </div>
</div> 