<div class="content">
    <div class="font-weight-bold">
        <h1>Goldene Regeln für den Betrieb von CB-Funkgeräten</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>
            <span style="font-weight: bold">1.     Was benötige ich zum Betrieb von CB-Funkgeräten?</span><br>
            <br>
Benötigt wird zusätzlich eine Mobil CB-Funk Antenne mit Anschlusskabel und ein SWR Meter<br>
<br>
<br>
<br>
<span style="font-weight: bold">2.     Was benötige ich zum stationären Betrieb von CB-Funkgeräten?</span><br>
<br>
Benötigt wird zusätzlich eine CB-Funk Antenne für den Balkon oder Dachantenne, Anschlusskabel, ein dafür geeignetes Netzgerät 230V / 12 Volt und ein SWR Meter.<br>
<br>
<br>
<br>
<span style="font-weight: bold">3.     Was ist ein SWR - Meter und wofür wird es benötigt?</span><br>
<br>
Das SWR – Meter ist ein Antennenmessgerät und wird für die exakte Einstellung der Antenne benötigt.<br>
<br>
<br>
<br>
<span style="font-weight: bold">4.     Welche Einstellungen sind beim CB Funkgerät zu beachten?</span><br>
<br>
Je nach CB-Funkgerät können verschiedene Einstellungen notwendig sein, nehmen Sie dazu die beiliegende Bedienungsanleitung zur Hand.<br>
<br>
<br>
<br>
<span style="font-weight: bold">5.     Ich werde von anderen CB-Funkstationen nicht gehört?</span><br>
<br>
Überprüfe die Einstellungen des CB-Funkgerätes (Mic-Gain) und die Antennenanlage mit einem SWR-Meter. Bespreche das Mikrofon nah am Mund.<br>
<br>
<br>
<br>
<span style="font-weight: bold">6.     Ich höre andere CB-Funkstationen nur sehr schwach?</span><br>
<br>
Überprüfe die Einstellungen des CB-Funkgerätes (RF-Gain), (DX/Loc. Schalter) gegebenenfalls deine Antennenanlage.<br>
<br>
<br>
<br>
<span style="font-weight: bold">7.     Ich höre andere CB-Funkstationen nur sehr verzerrt?</span><br>
<br>
Überprüfe deine Modulations Einstellung des CB-Funkgerätes ( AM / FM ).<br>
<br>
<br>
<br>
<span style="font-weight: bold">8.   Aus dem Lautsprecher kommt kein Ton?</span> <br>
<br>
     Vermutlich ist das beiliegende Mikrofon nicht am CB-Funkgerät eingesteckt oder der Lautstärkeregler ist zugedreht (Volume)<br>
     <br>
     <br>
     <br>
     <span style="font-weight: bold">9.    Aus dem Lautsprecher ertönt immer Rauschen?</span><br>
<br>
 Überprüfen Sie die Einstellung ( Squelch )<br>
 <br>
 <br>
 <br>
 <span style="font-weight: bold">10. Ich erhalte keine Reichweite?</span><br>
<br>
 Überprüfe mit dem SWR - Meter Deine Antennenanlage.
        </p>
    </div>
</div> 