
<div class="content">
    <div class="font-weight-bold">
        <h1>TeamSpeak User Hilfe</h1>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div class="d-flex align-items-center flex-direction-column">
        <p>Wenn du nun den Clienten heruntergeladen hast, geht es an die Installation. Wir empfehlen, TeamSpeak 3 mit den Standardeinstellungen zu installieren und nichts an der Installation zu verändern.</p>
        <p>Wenn du nun TeamSpeak 3 erfolgreich installiert hast, führe es zuerst einmal aus. Jetzt meldet sich der Konfigurationsassistent von TeamSpeak 3.</p> 
        <div class="image-container margin-right-1">
            <img src="../assets/images/Teamspeak/Assistent.jpg" />
        </div>

        <p>Das erste Fenster kannst du mit "Weiter" bestätigen.</p> 
        <div class="image-container margin-right-1">
            <img src="../assets/images/Teamspeak/Assistent 1.jpg" />
        </div>
        
        <p>Im zweiten Fenster kannst du deinen Nicknamen angeben. Diesen Nicknamen kannst du selbstverständlich jederzeit ändern.
            Dann bestätigst du per Klick auf "Weiter".</p> 
        <div class="image-container margin-right-2">
            <img src="../assets/images/Teamspeak/Assistent 2.jpg" />
        </div>
        <p>Nun geht es an die Einstellung des Mikrofons. Du hast die Wahl ob man Push-To-Talk aktivieren möchte oder die Sprachaktivierung. Wir empfehlen letzteres, weil die Sprachaktivierung um einiges bequemer ist. Mit der Sprachaktivierung mussst du nicht ständig irgendeine Taste drücken, um sprechen zu können. Möchtest du jedoch Push-To-Talk verwenden, so kannst du hier eine zugehörige Taste zuweisen. Zur Einstelllung der Empfindlichkeit der Sprachaktivierung klickt du dann auf "Weiter".</p>
        <div class="image-container margin-right-3">
            <img src="../assets/images/Teamspeak/Assistent 3.jpg" />
        </div>
        <p>Nun klickst du auf den Button "Sprache testen". Jetzt sprichst du am Besten mit normaler Lautstärke in das Mikrofon. Anschließend musst du den Schieberegler so verändern, dass die Lampe immer dann leuchtet, wenn du sprichst. Die Einstellungen für die Sprachaktivierung kannst du auch später noch einmal ändern. Wenn du den Schieberegler gut eingestellt hat, bestätigst du wieder per Klick auf "Weiter".</p>
        <div class="image-container margin-right-4">
            <img src="../assets/images/Teamspeak/Assistent 4.jpg" />
        </div>
        <p>Im nächsten Fenster kannst du noch eine Tastenkombination zum Stummschalten des Mikrofons und des Lautsprechers/Kopfhörers festlegen. Wenn du das das gemacht hat, bist du auch schon am Ende des Konfigurationsassistenten angelangt und kannst ihn per Klick auf "Weiter" und "Abschließen" beenden.</p>
        <div class="image-container margin-right-5">
            <img src="../assets/images/Teamspeak/Assistent 5.jpg" />
        </div>
        <p>So sieht es aus wenn ihr TS3 runter geladen habt</p>
        <div class="image-container margin-right-5">
            <img src="../assets/images/Teamspeak/Client.jpg" />
        </div>
        <p>Folgendes fügt ihr unter Adresse ein: 62.104.20.213: , der Port ist 10137 , unter Nicknamen könnt ihr euren Namen oder Rufzeichen eingeben. Danach einfach auf Verbinden und fertig.</p>
        <div class="image-container margin-right-5">
            <img src="../assets/images/Teamspeak/Client verbinden.jpg" />
        </div>
        <p>Hier könnt ihr sehen wie es aussieht wenn ihr auf TS3 drauf seid, die Übergeordneten Räume.</p>
        <div class="image-container margin-right-5">
            <img src="../assets/images/Teamspeak/Verbunden.jpg" />
        </div>
        <p>Hier seht ihr einige der Untergeordneten Räume, fast alle Räume können ohne Passwort betreten werden..</p>
        <div class="image-container margin-right-5">
            <img src="../assets/images/Teamspeak/Sicht auf die verborgenen Räume.jpg" />
        </div>
    </div>
</div> 