<div class="content">
    <div class="font-weight-bold">
        <h1>Anmeldung wenn schon ein Rufzeichen vorhanden ist</h1>
        <p>Hier könnt ihr euch eintragen wenn ihr noch AKTIV seid</p>
        <div class="cable-image">
            <img src="../assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <form action="http://www.ekiwi-scripts.de/form/v28/formmail.php" method="POST" name="DAFORM" onsubmit="SetCookies();return chkFormular();" enctype="multipart/form-data" target="_self" style="display: flex; justify-content: center" >
            <input type="hidden" name="formid" value="7352324">
            <input type="hidden" name="settings" value="cXZ7ZHI=">
            <input type="hidden" name="redirect" value="http://www.ekiwi.de/form/danke.htm">
            <input type="hidden" name="subject" value="Kontaktformular">
            <input type="hidden" name="admin" value="dH92ZXtuY3Z5cHhIc29XbnZ/eHg5c3I=">
            <input type="hidden" name="admin1" value="">
            <input type="hidden" name="admin2" value="">
            <input type="hidden" name="typemail" value="html">
            <input type="hidden" name="crypt" value="1">
            <input type="hidden" name="einleittext" value="">
            <input type="hidden" name="copyfields" value="-1">
            <input type="hidden" name="copyip" value="-1">
            <input type="hidden" name="hide_empty_fields" value="0">
            <input type="hidden" name="settings_encoding" value="iso-8859-1">  
            <input type="hidden" name="ReturnToSender" value="0">
                <table style="width: 50%;">
                    <!-- FORMTITLE_BEGIN -->
                  <tbody style="text-align: center">
                  <!-- EINLEITUNGTEXT_END -->
                  
                    <tr><td style="text-align: right; padding-right: 1rem;">Rufzeichen</td>
                    <td>
                    <input type="text" name="Rufzeichen" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">Land</td>
                    <td>
                    <input type="text" name="Land" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">Name</td>
                    <td>
                    <input type="text" name="Name" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">Vorname</td>
                    <td>
                    <input type="text" name="Vorname" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">Strasse</td>
                    <td>
                    <input type="text" name="Strasse" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">Hausnummer</td>
                    <td>
                    <input type="text" name="Hausnummer" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">PLZ</td>
                    <td>
                    <input type="text" name="PLZ" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">Ort</td>
                    <td>
                    <input type="text" name="Ort" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
                    
                    <tr><td style="text-align: right; padding-right: 1rem;">E-Mail</td>
                    <td>
                    <input type="text" name="EMail" value="" size="15" maxlength="100" style="width: 50%;"> </td></tr>
          
          
                  <!-- CAPTCHA -->
                  <tr>
                    <td colspan="2"><p>Vielen dank für Deine Mail</p></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                        <input type="submit" name="next" value="Absenden">
                        <input type="reset" name="next" value="Zurücksetzen">
                      <!-- PRINTBUTTON -->
                    </p></td>
                  </tr>
                </tbody>
            </table>
        </form>
    </div>
</div> 