<div class="content">
    <div class="font-weight-bold">
        <p>HAM - CB - SWL - BCL - COMPUTER - AM - FM - SSB</p>

        <p>Monitor Frequenz 26.765 FM, 27.385 FM</p>

        <p>Packet-Radio 26.675 FM, 26.915 FM, 26.925 FM, 27.245 FM</p>

        <p>SSTV 26.685 FM</p>
        <div class="cable-image">
            <img src="assets/images/cable.gif" />
        </div>
    </div>
    <div>
        <h1>Herzlich Willkommen bei DX-CharlyTango</h1>
        <p> Wir wollen versuchen die Charly Tangos wieder zusammen zu bekommen. Uns ist klar das es wahrscheinlich viele nicht mehr gibt oder auch kein Funk mehr betreiben aber diejenigen die noch Funken oder die zu den neuen Funkern gehören sollen sich über diese Seite angesprochen fühlen.</br>
            </br>
            Für Anregungen, Kritik oder sonstige Meinungen sind wir immer offen. Diese könnt ihr über Kontakt tun. Wir werden versuchen so bald als möglich die Wünsche die schon geäußert wurden um zu setzen.</br>
            </br>
            Dank des Internets ist es den Funkern möglich Funkgeräte mit ein Soundkarteninterface an das Internet an zu schließen und über sogenannte Relais die auf der Funkplattform</br>
            </br>
            zu finden sind Deutschland oder auch Weltweit miteinander zu kommunizieren.</p></br>
            <p class="warning">
                Bitte habt Geduld mit mir

                ich beantworte die Mails alleine, bin voll Berufstätig
            
                und komm im Moment nicht hinterher.
            </p>
    </div>
    <div>
        <div class="d-flex align-items-center justify-content-center">
            <div class="cable-image margin-right-1">
                <img src="assets/images/ts3.png" height="100px" />
            </div>
            <h2>Teamspeak (TS3)</h2>
        </div>
        <p>Mitglieder findet ihr auch im TS 3</p>
        <p>Server IP: 81.169.211.205</p>
        <p>Man kann auch Gateways einbauen direkt mitmachen ohne anfragen</p>
    </div>
    <div>
        <div class="header-image-funk-2">
            <img src="assets/images/funk2.gif" />
        </div>
        <p>Für Anregungen, Verbesserungsvorschläge, fehlende Informationen über</p>
        <p>den CT wären wir dankbar. Über Kontakt könnt ihr mit uns in Verbindung treten.</p>
    </div>
</div> 