<script src="assets/js/main.js"></script>
<div id="navigation" class="navigation-container">
    <div class="akkordeon-wrapper">
        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>CT - Hauptmenü</div>
            </div>
            <div class="akkordeon-content d-flex flex-wrap justify-content-center">
                <a href="../subpages/ueber_ct.html?id=1">Über CharlyTango</a>
                <a href="../subpages/ct_heute.html?id=2">CharlyTango heute</a>
                <a href="../subpages/in_gedanken.html?id=3">In Gedanken</a>
                <a href="../subpages/neuanmeldung.html?id=4">Neuanmeldung</a>
                <a href="../subpages/vorhandende_ct_rufzeichen.html?id=5">Vorhandenes CT Rufzeichen</a>
                <a href="heute.html?id=6">Mitgliederliste</a>
                <a href="../subpages/neue_mitglieder.html?id=7">Neue Mitglieder</a>
                <a href="../subpages/qsl_karten.html?id=8">QSL-Karten</a>
                <a href="../subpages/ct_frequenzen.html?id=9">CT-Frequenzen</a>
                <a href="../subpages/ct_downloads.html?id=10">CT-Downloads</a>
                <a href="../subpages/prefix_liste.html?id=11">Prefix - Liste</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>TeamSpeak 3</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="https://www.teamspeak.com/downloads">TS3 Download</a>
                <a href="../subpages/user_installationshilfe.html?id=13">TS3 User Installationshilfe</a>
                <a href="ts3server://81.169.211.205">TS3 Schnellconnect</a>
                <a href="../subpages/blick_auf_ts3_server.html?id=15">Blick auf TS3 Server</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>GW-Technik</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="../subpages/einfaches_interface.html?id=16">Einfaches Interface</a>
                <a href="https://freiesfunknetz.com/viewpage.php?page_id=258">Soundkarteninterface</a>
                <a href="../subpages/mikrofonbelegung_cb_funk.html?id=18">Mikrofonbelegung CB</a>
                <a href="../subpages/mikrofonbelegung_pmr.html?id=19">Mikrofonbelegung PMR</a>
            </div>
        </div> 

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>Wetter Info</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="http://www.unwetterzentrale.de/uwz/">Wetterwarnung</a>
                <a href="https://www.blitzortung.org/en/live_lightning_maps.php">Blitzortung</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>Funk Bereich</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="../subpages/freie_funknetze.html?id=22">Was sind Freie Funknetze</a>
                <a href="../subpages/geschichte_cb_funk.html?id=23">Geschichte des CB-Funk</a>
                <a href="../subpages/bandplan_11m.html?id=24">Bandplan CB-Funk 11m</a>
                <a href="../subpages/bandplan_149mhz.html?id=25">Bandplan Freenet 149Mhz</a>
                <a href="../subpages/bandplan_446_mhz.html?id=26">Bandplan PMR 446Mhz</a>
                <a href="../subpages/cb_funk_einsatzgebiete.html?id=27">CB-Funk Einsatzgebiete</a>
                <a href="../subpages/cb_funk_betriebsarten.html?id=28">CB-Funk Betriebsarten</a>
                <a href="../subpages/abkuerzungen_cb_funk.html?id=29">Abkürzungen im CB-Funk</a>
                <a href="../subpages/cb-sprache.html?id=30">CB-Sprache</a>
                <a href="../subpages/regeln.html?id=31">Regeln</a>
                <a href="../subpages/notruf.html?id=32">Notruf</a>
                <a href="../subpages/cb_funk_swr.html?id=33">CB-Funk SWR</a>
                <a href="../subpages/buchstabieralphabet.html?id=34">Buchstabier-Alphabet</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>Allgemeines</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="https://www.teamviewer.com/de/">Teamviewer</a>
                <a href="https://www.afup.a36.de/">AFU - Prüfung</a>
                <a href="../subpages/cb_schutzzone.html?id=37">CB-Funk Schutzzone</a>
                <a href="../subpages/hochfrequenzwellen.html?id=38">Hochfrequenzwellen</a>
                <a href="../subpages/wellenausbreitung.html?id=39">Wellenausbreitung</a>
                <a href="../subpages/hf_stoerung.html?id=40">HF - Störungen</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>PR - Technik</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="../subpages/geschichte_von_pr.html?id=41">Geschichte von PR</a>
                <a href="../subpages/was_ist_pr.html?id=42">Was ist Packet Radio</a>
                <a href="../subpages/pr_betriebsarten.html?id=43">PR Betriebsarten</a>
                <a href="../subpages/pr_auf_cb_funk.html?id=44">PR auf CB - Funk</a>
                <a href="../subpages/pr_netz.html?id=45">Packet Radio Netz</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>Interace SSTV</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="http://www.g4xgt.co.uk/images/ACEsetup.exe">Download Interace SSTV</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>Allgemeine News</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="https://funkmagazin.de/">Funkmagazin</a>
                <a href="https://www.darc.de/home/">DARC</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>Live</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a href="http://funknetzdeutschland.ddns.net:8000/stream">Funknetzdeutschland</a>
                <a href="http://funknetzdeutschland.ddnsking.com:8073/">WEB SDR Live</a>
                <a class="navigation-image" href="http://www.websdr.org/">
                    <img src="../assets/images/funk3.gif" width="200px"/>
                </a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent(event)">
                <div>DX Informationen</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center">
                <a class="navigation-image" href="http://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!">
                    <img src="http://www.hamqsl.com/solarvhf.php">
                </a>
                <a class="navigation-image" href="http://www.n3kl.org/sun/noaa.html" title="Click to add Solar-Terrestrial Data to your website!">
                    <img src="http://www.n3kl.org/sun/images/status.gif?">
                </a>
                <a class="navigation-image" href="http://www.n3kl.org/sun/noaa.html" title="Click to add Solar-Terrestrial Data to your website!">
                    <span>Solar X-Ray</span>
                    <img src="http://www.n3kl.org/sun/images/kpstatus.gif?">
                </a>
                <a class="navigation-image" href="http://www.xs4all.nl/~amunters/monitor.html" title="Click to add Solar-Terrestrial Data to your website!">
                    <span>Geomagnetic Field</span>
                    <img src="http://www.xs4all.nl/~amunters/aurorastatus.gif?">
                </a>
                <a class="navigation-image" href="http://www.xs4all.nl/~amunters/monitor.html" title="Click to add Solar-Terrestrial Data to your website!">
                    <p style="margin: 0;">VHF Aurora</p>
                    <img src="http://www.xs4all.nl/~amunters/aurorastatus.gif?">
                </a>
                <a class="navigation-image" href="http://www.xs4all.nl/~amunters/monitor.html" title="Click to add Solar-Terrestrial Data to your website!">
                    <span>144MHz E-Skip in EU</span>
                    <img src="http://www.xs4all.nl/~amunters/eskipstatusNA.gif?">
                </a>
            </div>
        </div>
    </div>
</div>