<script src="assets/js/main.js"></script>
<div class="navigation-container">
    <div class="akkordeon-wrapper">
        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center">
                <div>CT - Hauptmenü</div>
            </div>
            <div class="akkordeon-content d-flex flex-wrap justify-content-center" onclick="openAkkordeonContent($event)">
                <a href="ueber.html">Über CharlyTango</a>
                <a href="heute.html">CharlyTango heute</a>
                <a href="heute.html">In Gedanken</a>
                <a href="heute.html">Neuanmeldung</a>
                <a href="heute.html">Vorhandenes CT Rufzeichen</a>
                <a href="heute.html">Mitgliederliste</a>
                <a href="heute.html">Neue Mitglieder</a>
                <a href="heute.html">QSL-Karten</a>
                <a href="heute.html">Bilder Galerie</a>
                <a href="heute.html">CT-Frequenzen</a>
                <a href="heute.html">CT-Downloads</a>
                <a href="heute.html">Prefix - Liste</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center">
                <div>TeamSpeak 3</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center" onclick="openAkkordeonContent($event)">
                <a href="ueber.html">TS3 Download</a>
                <a href="heute.html">TS3 User Installationshilfe</a>
                <a href="heute.html">TS3 GW Installtionshilfe</a>
                <a href="heute.html">TS-Gateway Commander</a>
                <a href="heute.html">TS3 Schnellconnect</a>
                <a href="heute.html">Blick auf TS3 Server</a>
            </div>
        </div>

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center">
                <div>GW-Technik</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center" onclick="openAkkordeonContent($event)">
                <a href="ueber.html">Einfaches Interface</a>
                <a href="heute.html">Soundkarteninterface</a>
                <a href="heute.html">Mikrofonbelegung CB</a>
                <a href="heute.html">Mikrofonbelegung PMR</a>
                <a href="heute.html">Anschluss Funkgerät & PC</a>
            </div>
        </div> 

        <div class="akkordeon-content-wrapper">
            <div class="akkordeon-header d-flex flex-wrap justify-content-center">
                <div>Wetter Info</div>
            </div>
            <div class="akkordeon-content d-none flex-wrap justify-content-center" onclick="openAkkordeonContent($event)">
                <a href="ueber.html">Blitzradar</a>
                <a href="heute.html">Wetterwarnung</a>
                <a href="heute.html">Blitzortung</a>
            </div>
        </div>
    </div>
</div>