.akkordeon-header > div, .akkordeon-content a {
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    width: 220px;
    font-size: 14px;
}

.akkordeon-header > div {
    color: #33c;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.akkordeon-content a:hover, .akkordeon-content a.active {
    color: #33c;
    background-color: white;
    cursor: pointer;
}

.akkordeon-content-wrapper {
    margin-bottom: 1rem;
}

.akkordeon-content a.navigation-image {
    border: none;
}

.akkordeon-content a.navigation-image:hover {
    background-color: transparent;
}

.akkordeon-content a.navigation-image:hover span, .akkordeon-content a.navigation-image:hover p {
    color: white;
}